/****************************************************
 * Themes
 ***************************************************/

.@light
{
    text: "#374550";
    background: "#F7F9FA";
    label: "#87ACB8";
    light-grey: "#A4A3C0";
    error: "#F56631";
    brand: "#01BFE8";
    accent: "#00B5DB";
    upload: "#0098CC";
    grid: "#F4F7F9";
    separator-color: "#E6E6E6";
    switch-bg-on:               "qrc:/light/switch/bg_on.png";
    switch-bg-off:              "qrc:/light/switch/bg_off.png";
    switch-toggle-on:           "qrc:/light/switch/toggle_on.png";
    switch-toggle-off:          "qrc:/light/switch/toggle_off.png";
    button-frame:               "qrc:/light/btn_server_bg.png";
    checkbox-on:                "qrc:/light/check_btn_on.png";
    checkbox-off:               "qrc:/light/check_btn_off.png";
    radio-on:                   "qrc:/light/radio_btn_on.png";
    radio-off:                  "qrc:/light/radio_btn_off.png";
    separator-left:             "qrc:/light/separator_left.png";
    separator-mid:              "qrc:/light/separator_mid.png";
    separator-right:            "qrc:/light/separator_right.png";
    push-button-active:         "qrc:/light/btn_bg_hover_active.png";
    push-button-inactive:       "qrc:/light/btn_bg.png";
    footer-settings-active:     "qrc:/light/btn_settings_active.png";
    footer-settings-inactive:   "qrc:/light/btn_settings.png";
    footer-dashboard-active:    "qrc:/light/btn_connection_active.png";
    footer-dashboard-inactive:  "qrc:/light/btn_connection.png";
    footer-statistics-active:   "qrc:/light/btn_account_active.png";
    footer-statistics-inactive: "qrc:/light/btn_account.png";
    bugrep-bg:                  "qrc:/light/report_bg_border.png";
    bugrep-bg-75:               "qrc:/light/report_bg_border_75.png";
    contact-bugrep-bg:          "qrc:/light/contact_report_bg_border.png";
    login-logo:                 "qrc:/light/login-logo.png";
    splash-logo:                "qrc:/light/logo.png";
    btn-plus:                   "qrc:/light/ic_plus.png";
    btn-close:                  "qrc:/light/ic_close.png";
    btn-close-hover:            "qrc:/light/ic_close_hover.png";
    btn-ticker-close:           "qrc:/light/ic_ticker_close.png";
    btn-ticker-close-hover:     "qrc:/light/ic_ticker_close_hover.png";
}

.@dark
{
    text: "#FFFFFF";
    background: "#2f2e42";
    label: "#A4A3C0";
    light-grey: "#A4A3C0";
    error: "#F5FF00";
    brand: "#DA0B82";
    accent: "#FF22A2";
    upload: "#9F83FF";
    grid: "#211F46";
    separator-color: "#3F3F3F";
    switch-bg-on:               "qrc:/dark/switch/bg_on.png";
    switch-bg-off:              "qrc:/dark/switch/bg_off.png";
    switch-toggle-on:           "qrc:/dark/switch/toggle_on.png";
    switch-toggle-off:          "qrc:/dark/switch/toggle_off.png";
    button-frame:               "qrc:/dark/btn_server_bg.png";
    checkbox-on:                "qrc:/dark/check_btn_on.png";
    checkbox-off:               "qrc:/dark/check_btn_off.png";
    radio-on:                   "qrc:/dark/radio_btn_on.png";
    radio-off:                  "qrc:/dark/radio_btn_off.png";
    separator-left:             "qrc:/dark/separator_left.png";
    separator-mid:              "qrc:/dark/separator_mid.png";
    separator-right:            "qrc:/dark/separator_right.png";
    push-button-active:         "qrc:/dark/btn_bg_hover_active.png";
    push-button-inactive:       "qrc:/dark/btn_bg.png";
    footer-settings-active:     "qrc:/dark/btn_settings_active.png";
    footer-settings-inactive:   "qrc:/dark/btn_settings.png";
    footer-dashboard-active:    "qrc:/dark/btn_connection_active.png";
    footer-dashboard-inactive:  "qrc:/dark/btn_connection.png";
    footer-statistics-active:   "qrc:/dark/btn_account_active.png";
    footer-statistics-inactive: "qrc:/dark/btn_account.png";
    bugrep-bg:                  "qrc:/dark/report_bg_border.png";
    bugrep-bg-75:               "qrc:/dark/report_bg_border_75.png";
    contact-bugrep-bg:          "qrc:/dark/contact_report_bg_border.png";
    login-logo:                 "qrc:/dark/login-logo.png";
    splash-logo:                "qrc:/dark/logo.png";
    btn-plus:                   "qrc:/dark/ic_plus.png";
    btn-close:                  "qrc:/dark/ic_close.png";
    btn-close-hover:            "qrc:/dark/ic_close_hover.png";
    btn-ticker-close:           "qrc:/dark/ic_ticker_close.png";
    btn-ticker-close-hover:     "qrc:/dark/ic_ticker_close_hover.png";
}

/****************************************************
 * Font
 ***************************************************/

.font-brand
{
    qproperty-fontFamiliy: "Jost";
}

/****************************************************
 * Colors
 ***************************************************/

.c-label
{
    color: "@text";
}

.c-grey
{
    color: "@light-grey";
}

.c-brand
{
    color: "@brand";
}

.c-background
{
    color: "@background";
}

/****************************************************
 * Widgets
 ***************************************************/

.switch-bg-off
{
    qproperty-scaledPixmap: "@switch-bg-off";
}

.switch-bg-on
{
    qproperty-scaledPixmap: "@switch-bg-on";
}

.switch-toggle-off
{
    qproperty-scaledPixmap: "@switch-toggle-off";
}

.switch-toggle-on
{
    qproperty-scaledPixmap: "@switch-toggle-on";
}



.btn-frame
{
    qproperty-scaledPixmap: "@button-frame";
}



.checkbox-on
{
    qproperty-scaledPixmap: "@checkbox-on";
}

.checkbox-off
{
    qproperty-scaledPixmap: "@checkbox-off";
}



.radio-on
{
    qproperty-scaledPixmap: "@radio-on";
}

.radio-off
{
    qproperty-scaledPixmap: "@radio-off";
}

.radio-label
{
    color: "@text";
    scaled-font: scaled(16);    
    font-weight: Font.Normal;
}



.line-edit-icon
{
    scaled-rect: scaled(nan,nan,20,20,true);
}



.form-title-close-btn
{
    scaled-rect: scaled(0,0,28,28,true);
    active: "@btn-close-hover";
    inactive: "@btn-close";
}

.form-title-label
{
    scaled-rect: scaled(39,0,282,28,false,24);
    color: "@text";
    font-weight: Font.Medium;
}



.sep-rect {
    scaled-rect: scaled(nan,nan,8,4,false);
}

.sep-left
{
/*
    qproperty-scaledPixmap: "@separator-left";
    scaled-rect: scaled(nan,nan,8,4,false);
*/
    qproperty-scaledPixmap: "@separator-left";
}

.sep-mid
{
/*
    qproperty-scaledPixmap: "@separator-mid";
    scaled-rect: scaled(nan,nan,nan,4,false);
*/
    qproperty-scaledPixmap: "@separator-mid";
}

.sep-right
{
/*
    qproperty-scaledPixmap: "@separator-right";
    scaled-rect: scaled(nan,nan,8,4,false);
*/
    qproperty-scaledPixmap: "@separator-right";
}



.push-button
{
    active: "@push-button-active";
    inactive: "@push-button-inactive";
}



.radiobtn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}

.radiobtn-spacer
{
    scaled-rect: scaled(nan,nan,392,20,false);
}



.null-size
{
    scaled-rect: scaled(nan,nan,0,0,false);
}

.null-pos
{
    scaled-rect: scaled(0,0,nan,nan,false);
}

/****************************************************
 * Icons
 ***************************************************/

.ic_renew
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_renew.png");
}

.ic_key
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_key.png");
}

.ic_key-item
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_key-item.png");
}

.ic_language
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_language.png");
}

.ic_certificate
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_certificate.png");
}

.ic_cdb-manager
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_cdb-manager.png");
}

.ic_server-manager
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_server-manager.png");
}

.ic_send-report
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_send-report.png");
}

.ic_bot
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_bot.png");
}

.ic_share_log
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_share_log.png");
}

.ic_close
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_close.png");
}

.ic_copy
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_copy.png");
}

.ic_copy_pressed
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_copy_pressed.png");
}

.ic_trash
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_trash.png");
}

.ic_information_bug-report
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_information_bug-report.png");
}

.ic_faq
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_faq.png");
}

.ic_key-history
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_key-history.png");
}

.ic_terms_policy
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_terms_policy.png");
}

.ic_terms_policy
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_terms_policy.png");
}

.ic_version
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_version.png");
}

.ic_theme
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_theme.png");
}

.ic_spinner
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/Spinner.gif");
}

.ic_location
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_location.png");
}

.ic_country_filter
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_filter.png");
}

.ic_online
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/icon_online.png");
}

.ic_offline
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/icon_offline.png");
}

.ic_conn-0
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-0.png");
}

.ic_conn-1
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-1.png");
}

.ic_conn-2
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-2.png");
}

.ic_conn-3
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-3.png");
}

.ic_conn-4
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-4.png");
}

.ic_conn-5
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-5.png");
}

/****************************************************
 * Main window
 ***************************************************/

.content-frame
{
    scaled-rect: scaled(0,0,-1,754,false);
}

.content-mid
{
    scaled-rect: scaled(-1,nan,363,nan,false);
}

.content-background
{
    color: "@background";
}

/****************************************************
 * Misc
 ***************************************************/

.dialog-title
{
    scaled-rect: scaled(34,62,360,28,false);
    color: "@text";
}

/****************************************************
 * Popup Dialog
 ***************************************************/

.popup-dialog
{
    scaled-rect: scaled(nan,nan,280,186,false);
    color: "@background";
}

.popup-dalog-title
{
    scaled-rect: scaled(57,20,170,24,false,20);
    color: "@text";
    clip: false;
}

.popup-dalog-text
{
    scaled-rect: scaled(nan,57,268,50,false,16);
    color: "@label";
    clip: false;
}

.popup-dalog-left-button
{
/*
    scaled-rect: scaled(11,nan,86,36,false,14);
    color: "@text";
*/
    scaled-rect: scaled(11,nan,86,36,false);
    color: "@background";
}

.popup-dalog-left-label
{
    scaled-font: scaled(14);
    color: "@text";
}

.popup-dalog-right-button
{
/*
    scaled-rect: scaled(183,nan,86,36,false,14);
    color: "@brand";
*/
    scaled-rect: scaled(183,nan,86,36,false);
    color: "@background";
}

.popup-dalog-right-label
{
    scaled-font: scaled(14);
    color: "@brand";
}

.popup-dalog-middle-button
{
/*
    scaled-rect: scaled(nan,nan,86,36,false,14);
    color: "@brand";
*/
    scaled-rect: scaled(nan,nan,86,36,false);
    color: "@background";
}

.popup-dalog-middle-label
{
    scaled-font: scaled(14);
    color: "@brand";
}

/****************************************************
 * Footer
 ***************************************************/

.footer-frame
{
    scaled-rect: scaled(nan,nan,-1,201,false);
}

.footer-btn-settings
{
    scaled-rect: scaled(19,0,130,130,true);
    active: "@footer-settings-active";
    inactive: "@footer-settings-inactive";
}

.footer-btn-dashboard
{
    scaled-rect: scaled(149,0,130,130,true);
    active: "@footer-dashboard-active";
    inactive: "@footer-dashboard-inactive";
}

.footer-btn-statistics
{
    scaled-rect: scaled(279,0,130,130,true);
    active: "@footer-statistics-active";
    inactive: "@footer-statistics-inactive";
}

/****************************************************
 * Splashscreen
 ***************************************************/

.splash-logo
{
    scaled-rect: scaled(nan,220,276,76,true);
    qproperty-scaledPixmap: "@splash-logo";
}

.splash-status
{
    scaled-rect: scaled(-1,435,-1,64,false,18);
}

.splash-version
{
    scaled-rect: scaled(-1,nan,-1,96,false,12);
}

.splash-gradient-top
{
    color: "#01BFE8";
}

.splash-gradient-bottom
{
    color: "#0098CC";
}

/****************************************************
 * Login
 ***************************************************/

.login-logo-container
{
    scaled-rect: scaled(-1,117,-1,89,true);
}

.login-logo
{
    scaled-rect: scaled(nan,nan,260,89,true);
    qproperty-scaledPixmap: "@login-logo";
}

.login-error-label
{
    scaled-rect: scaled(51,236,327,57,false,13);
    color: "@error";
}

.login-separator-container
{
    scaled-rect: scaled(-1,291,-1,4,true);
}

.login-separator
{
    scaled-rect: scaled(nan,nan,nan,4,false);
}

.login-btn-server-container
{
    scaled-rect: scaled(-1,292,-1,108,true);
}

.login-btn-server
{
    scaled-rect: scaled(nan,nan,nan,108,false);
}

.login-btn-serial-container
{
    scaled-rect: scaled(-1,406,-1,108,true);
}

.login-btn-serial
{
    scaled-rect: scaled(nan,nan,nan,108,false);
}

.login-btn-main
{
    scaled-font: scaled(20);
    color: "@text";
    font-weight: Font.Medium;
}

.login-btn-sub
{
    scaled-font: scaled(12);
    color: "#A4A3C0";
    font-weight: Font.Normal;
}

.login-connect
{
    scaled-rect: scaled(nan,570,374,80,true,12);
}

.login-obtain-container
{
    scaled-rect: scaled(-1,675,-1,19,false);
}

.login-obtain-font
{
    scaled-font: scaled(16);    
}

.login-obtain-label
{
    scaled-rect: scaled(nan,nan,160,nan,false);
}

.login-obtain-link
{
    scaled-rect: scaled(nan,nan,160,nan,false);
}

.login-serialkey-input
{
    border-width: 1;
    border-color: "@light-grey";
    color: "@background";
    radius: 5;
    opacity: 0.2;
}

/* SPACE CALC */

.login-space-for3rows
{
    scaled-rect: scaled(nan,0,nan,nan,false);
}

.login-space-for2rows
{
    scaled-rect: scaled(nan,0,nan,nan,false);
}

.login-separator-color
{
    color: "@separator-color";
    scaled-rect: scaled(nan,nan,nan,1,false);
}

/****************************************************
 * Settings
 ***************************************************/

.sett-spacer
{
    scaled-rect: scaled(nan,nan,nan,20,false);
}

.sett-resizer1
{
    scaled-rect: scaled(nan,nan,nan,64,false,34);
}

.sett-resizer2
{
    scaled-rect: scaled(nan,nan,nan,116,false);
}

.sett-item
{
    scaled-rect: scaled(nan,nan,nan,nan,false,34);
}

.sett-btn-lbl-main
{
    color: "@text";
    scaled-font: scaled(16);    
    font-weight: Font.Normal;
}

.sett-btn-lbl-sub
{
    color: "@light-grey";
    scaled-font: scaled(12);    
    font-weight: Font.Normal;
}

.sett-btn-lbl-sub-red
{
    color: "@brand";
    scaled-font: scaled(16);    
    font-weight: Font.Medium;
}

.sett-btn-lbl-sub-link
{
    color: "@light-grey";
    scaled-font: scaled(16);
    font-weight: Font.Normal;
}

.sett-title-lbl-main
{
    color: "@text";
    horizontal-align: Text.AlignHCenter;
    scaled-rect: scaled(nan,nan,nan,nan,false,24);
    font-weight: Font.Medium;
}

/****************************************************
 * Statistics
 ***************************************************/

.stat-title
{
    color: "@text";
    font-size: 24;
    font-weight: Font.Medium;
}

.stat-item-main
{
    color: "@text";
    font-weight: Font.Normal;
}

.stat-item-sub
{
    color: "#A4A3C0";
    font-weight: Font.Normal;
}

.stat-graph
{
    scaled-rect: scaled(-1,146,360,147,false);
}

.stat-speed
{
    scaled-rect: scaled(nan,307,154,99,false);
}

.stat-bytes
{
    scaled-rect: scaled(nan,406,154,99,false);
}

.stat-packets
{
    scaled-rect: scaled(nan,505,154,99,false);
}

.stat-misc
{
    scaled-rect: scaled(nan,604,154,99,false);
}

.stat-scaler-ind
{
    scaled-rect: scaled(nan,nan,154,50,false,24);
}

.stat-scaler-sub
{
    scaled-rect: scaled(nan,nan,154,50,false,12);
}

/****************************************************
 * Dashboard
 ***************************************************/

.dashboard-title
{
    color: "@brand";
    scaled-rect: scaled(-1,62,-1,28,false,24);
    font-weight: Font.Medium;
}

.dashboard-status-container
{
    scaled-rect: scaled(nan,nan,nan,22,false);
}

.dashboard-status-container-pos
{
    scaled-rect: scaled(nan,107,nan,nan,nan);
}

.dashboard-status-label-scaler
{
    scaled-rect: scaled(nan,nan,107,22,true,18);
}

.dashboard-status-label
{
    color: "@text";
}

.dashboard-status-icon
{
    scaled-rect: scaled(nan,nan,5,5,true);
}

.dashboard-error-label
{
    scaled-rect: scaled(51,140,327,57,false,14);
    color: "#F53172";
}

.dashboard-switch
{
    scaled-rect: scaled(-1,250,238,150,true);
}

.dashboard-speed-container
{
    scaled-rect: scaled(-1,471,357,99,true);
}

.dashboard-speed-main
{
    color: "@text";
    scaled-font: scaled(26);    
    font-weight: Font.Medium;
}

.dashboard-speed-sub
{
    color: "#A4A3C0";
    scaled-font: scaled(12);    
}

.dashboard-server-container
{
    scaled-rect: scaled(-1,558,390,130,true);
}

.dashboard-server-main
{
    color: "@text";
    scaled-font: scaled(18);    
    font-weight: Font.Medium;
}

.dashboard-server-sub
{
    color: "#A4A3C0";
    scaled-font: scaled(15);    
}

/****************************************************
 * Bug report
 ***************************************************/

.bugrep-contact-input
{
    scaled-rect: scaled(32,150,370,80,false,16);
}

.bugrep-contact-input-content
{
    scaled-rect: scaled(nan,nan,316,32,false,16);
}

.bugrep-input
{
    scaled-rect: scaled(19,215,390,200,false,16);
}

.bugrep-input-content
{
    scaled-rect: scaled(nan,nan,316,120,false,16);
}

.bugrep-input-contact
{
    scaled-rect: scaled(32,150,364,80,false,16);
}

.bugrep-input-contact-content
{
    scaled-rect: scaled(nan,nan,332,44,false,16);
}

.bugrep-letter-counter
{
    scaled-rect: scaled(283,410,100,19,false,16);
}

.bugrep-attach-btn
{
    scaled-rect: scaled(19,450,390,20,false,16);
    color: "#DA0B82";
}

.bugrep-send-btn
{
    scaled-rect: scaled(27,499,374,80,true,14);
}

.bugrep-share-btn
{
    scaled-rect: scaled(27,592,374,80,true,14);
}

.bugrep-sending
{
    scaled-rect: scaled(164,120,100,20,false,16);
    color: "#A4A3C0";
}

.bugrep-animation
{
    scaled-rect: scaled(134,194,160,160,true);
}

.bugrep-status
{
    scaled-rect: scaled(112,215,200,104,false,18);
    color: "@text";
}

.bugrep-bg
{
    qproperty-scaledPixmap: "@bugrep-bg";
}

.contact-bugrep-bg
{
    qproperty-scaledPixmap: "@contact-bugrep-bg";
}

.bugrep-bg-75
{
    qproperty-scaledPixmap: "@bugrep-bg-75";
}

.bugrep-input-textarea
{
    color: "@text";
    scaled-font: scaled(16);    
}

.bugrep-input-placeholder
{
    color: "@label";
    scaled-font: scaled(16);    
}

/****************************************************
 * Purchase
 ***************************************************/

.purchase-btn-resizer
{
    scaled-rect: scaled(nan,nan,390,130,true);
    color: "@text";
}

.purchase-btn-spacing
{
    scaled-rect: scaled(nan,nan,nan,20,false);
}

.purchase-listview
{
    scaled-rect: scaled(nan,140,nan,nan,false);
}

.purchase-btn-label-main
{
    scaled-font: scaled(18);    
    color: "@text";
}

.purchase-btn-label-sub
{
    scaled-font: scaled(15);    
    color: "#A4A3C0";
}

.purchase-btn-label-left
{
    scaled-font: scaled(30);    
    color: "@text";
    font-weight: Font.Medium;
}

/****************************************************
 * Choose Server
 ***************************************************/

/*,chooseserver-btn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}*/

/****************************************************
 * Choose Language
 ***************************************************/

/*,chooselanguage-btn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}*/

/****************************************************
 * Choose Theme
 ***************************************************/

/*,choosetheme-btn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}*/

/****************************************************
 * Bug Report History
 ***************************************************/

.brh-btn-resizer
{
    scaled-rect: scaled(nan,nan,363,64,false);
}

.brh-icn-resizer
{
    scaled-rect: scaled(nan,nan,30,30,true);
}

.brh-btn-label-main
{
    color: "@text";
    scaled-font: scaled(16);    
}

.brh-btn-label-sub
{
    color: "@light-grey";
    horizontalAlign: Text.AlignLeft;
    scaled-font: scaled(12);
}

/****************************************************
 * Purchase History
 ***************************************************/

.ph-btn-resizer
{
    scaled-rect: scaled(nan,nan,363,64,false);
}

.ph-icn-resizer
{
    scaled-rect: scaled(nan,nan,56,56,true);
}

.ph-icn-cpy-resizer
{
    scaled-rect: scaled(nan,nan,40,40,true);
}

.ph-notice-resizer
{
    scaled-rect: scaled(nan,nan,353,75,true);
}

.ph-notice-spacer
{
    scaled-rect: scaled(nan,nan,363,34,true);
}

.ph-notice-spacer
{
    scaled-rect: scaled(nan,nan,363,34,true);
}

.ph-btn-label-main
{
    color: "@text";
    scaled-font: scaled(16);    
}

.ph-label-empty-history
{
    color: "@text";
    scaled-rect: scaled(-1,-1,363,96,true,26);
}

.ph-label-notice
{
    color: "@label";
    scaled-font: scaled(16);    
}

/****************************************************
 * Document Viewer
 ***************************************************/

.dv-content
{
    scaled-rect: scaled(-1,144,363,nan,false,14);
}

.dv-text
{
    color: "@text";
    scaled-font: scaled(14);
}

/****************************************************
 * FAQ
 ***************************************************/

.faq-content
{
    scaled-rect: scaled(-1,144,363,nan,false,14);
}

.faq-item
{
    scaled-rect: scaled(nan,nan,nan,68,false);
}

.faq-item-spacer
{
    scaled-rect: scaled(nan,nan,nan,26,false);
}

.faq-item-label
{
    scaled-font: scaled(16);
    font-weight: Font.Bold;
}

.faq-item-text
{
    scaled-font: scaled(16);
    color: "@label";
}

.faq-plus-btn
{
    scaled-rect: scaled(nan,nan,32,32,true);
    qproperty-inactive: "@btn-plus";
    qproperty-active: "@btn-plus";
}

.faq-close-btn
{
/*
    scaled-rect: scaled(nan,nan,32,32,true);
*/
    scaled-rect: scaled(nan,nan,25,25,true);
    qproperty-inactive: "@btn-close";
    qproperty-active: "@btn-close";
}

/****************************************************
* Ticker
***************************************************/

.ticker-close-button
{
    scaled-rect: scaled(nan,nan,24,24,true);
    qproperty-inactive: "@btn-ticker-close";
    qproperty-active: "@btn-ticker-close-hover";
}

.ticker
{
    scaled-rect: scaled(-1,nan,-1,36,false);
}

.ticker-lable-rect
{
    scaled-rect: scaled(nan,nan,-1,36,false);
}

.ticker-label
{
    scaled-rect: scaled(nan,nan,nan,36,false,14);
    color: "#FFFFFF";
}

.ticker-label-background
{
    scaled-rect: scaled(nan,nan,-1,36,false);
    color: "#A4A3C0";
}

.ticker-close-rect
{
    scaled-rect: scaled(nan,nan,36,36,true);
}

/****************************************************
 * Choose Country
 ***************************************************/

.ch-country-filter-border
{
    border-width: 1;
    border-color: "@light-grey";
    radius: 5;
    scaled-rect: scaled(-1,nan,363,48,false);
}

.ch-country-filter-text
{
    color: "@text";
    scaled-font: scaled(14);
}

.ch-country-filter-clear
{
    qproperty-inactive: "@btn-close";
    qproperty-active: "@btn-close-hover";
}
