/****************************************************
 * Colors
 ***************************************************/

.darkblue
{
	color: #04004E;
}

.red
{
	color: #DA0B82;
}

.red_error
{
	color: #F53172;
}

.gray
{
	color: #A4A3C0;
}

.gray_passive
{
	color: #5C5B74;
}

.white
{
	color: #FFFFFF;
}

/****************************************************
 * Rules
 ***************************************************/

.uppercase
{
	text-transform: uppercase;
}

/****************************************************
 * Font Styles
 ***************************************************/

.normal
{
	font-weight: normal;
	font-style: normal;
	font-size: normal;
}

.normalbold
{
	font-weight: normal;
	font-style: normal;
	font-size: bold;
}

.bold
{
	font-weight: bold;
	font-style: bold;
	font-size: bold;
}

/****************************************************
 * Fonts
 ***************************************************/

.lato
{
	font-family: 'Lato';
}

.roboto
{
	font-family: 'Roboto';
}

.font12
{
	font: 12pt/15pt;
}

.font13
{
	font: 13pt/18pt;
}

.font16
{
	font: 16pt/19pt;
}

.font18
{
	font: 18pt/22pt;
}

.font20
{
	font: 20pt/24pt;
}

.font24
{
	font: 24pt/29pt;
}

.font30
{
	font: 30pt/36pt;
}

.margin28
{
	margin: 28pt;
}

.margin-right28
{
	margin-right: 28pt;
}

/****************************************************
 * Frame
 ***************************************************/

.backgroundcolor
{
	background: #f7f8fa;
}

.window
{
	width: 428pt;
	height: 926pt;
	min-width: 428pt;
	min-height: 926pt;
	max-width: 428pt;
	max-height: 926pt;
}

.footer
{
	width: 428pt;
	height: 201pt;
	min-width: 428pt;
	min-height: 201pt;
	max-width: 428pt;
	max-height: 201pt;
}

.frame
{
	background: #f7f8fa;
	border-radius: 13px;
	border-top: 3px inset #ffffff;
	border-left: 3px inset #ffffff;
	border-bottom: 3px inset rgba(174,174,192,96);
	border-right: 3px inset rgba(174,174,192,96);
}

/****************************************************
 * Custom Widgets
 ***************************************************/

.cw_pushbutton
{
	font: 14pt/12pt;
}

.cwpb_bigbutton
{
	width: 374pt;
	height: 80pt;
	min-width: 374pt;
	min-height: 80pt;
	max-width: 374pt;
	max-height: 80pt;
}

.cwpb_square
{
	width: 130pt;
	height: 130pt;
	min-width: 130pt;
	min-height: 130pt;
	max-width: 130pt;
	max-height: 130pt;
}

.cwpb_checkbox .cwpb_radio
{
	width: 60pt;
	height: 60pt;
	min-width: 60pt;
	min-height: 60pt;
	max-width: 60pt;
	max-height: 60pt;
}

.cwpb_switch
{
	width: 266pt;
	height: 174pt;
	min-width: 266pt;
	min-height: 174pt;
	max-width: 266pt;
	max-height: 174pt;
}

.cwpb_connection-status
{
	width: 5pt;
	height: 5pt;
	min-width: 5pt;
	min-height: 5pt;
	max-width: 5pt;
	max-height: 5pt;
}

.cwb_height
{
	height: 108pt;
	min-height: 108pt;
	max-height: 108pt;
}

/****************************************************
 * Icons
 ***************************************************/

.settings_icon
{
	min-width: 34pt;
	min-height: 34pt;
	max-width: 34pt;
	max-height: 34pt;
}

.ic_renew
{
	image: url("://gui/ui/asset/ic_renew.png");
}

.ic_key
{
	image: url("://gui/ui/asset/ic_key.png");
}

.ic_key-item
{
	image: url("://gui/ui/asset/ic_key-item.png");
}

.ic_language
{
	image: url("://gui/ui/asset/ic_language.png");
}

.ic_send-report
{
	image: url("://gui/ui/asset/ic_send-report.png");
}

.ic_bot
{
	image: url("://gui/ui/asset/ic_bot.png");
}

.ic_information_bug-report
{
	image: url("://gui/ui/asset/ic_information_bug-report.png");
}

.ic_key-history
{
	image: url("://gui/ui/asset/ic_key-history.png");
}

.ic_terms_policy
{
	image: url("://gui/ui/asset/ic_terms_policy.png");
}

.ic_terms_policy
{
	image: url("://gui/ui/asset/ic_terms_policy.png");
}

.ic_version
{
	image: url("://gui/ui/asset/ic_version.png");
}

/****************************************************
 * Splash Screen
 ***************************************************/

.splashscreen_background
{
	width: 428pt;
	height: 926pt;
	min-width: 428pt;
	min-height: 926pt;
	max-width: 428pt;
	max-height: 926pt;
	image: url(:/gui/ui/asset/bg_dark-stripes.png);
}

.splashscreen_logo
{
	min-width: 230pt;
	max-width: 230pt;
	min-height: 59pt;
	max-height: 59pt;
	image: url(:/gui/ui/asset/logo_kelvpn-white.png);
}

/****************************************************
 * Login
 ***************************************************/

.login_logo
{
	width: 260pt;
	height: 89pt;
	min-width: 260pt;
	min-height: 89pt;
	max-width: 260pt;
	max-height: 89pt;
	image: url(:/gui/ui/asset/logo_kelvpn-color.png);
}

.login-margin-connect-top
{
	height: 120pt;
	min-height: 120pt;
	max-height: 120pt;
}

.login-margin-bottom
{
	height: 20pt;
	min-height: 20pt;
	max-height: 20pt;
}

.login-margin-at-connect
{
	height: 50pt;
	min-height: 50pt;
	max-height: 50pt;
}

/****************************************************
 * Connection
 ***************************************************/

.conn-top-spacer
{
	height: 60pt;
	min-height: 60pt;
	max-height: 60pt;
}
