/****************************************************
 * Colors
 ***************************************************/

.darkblue
{
	color: #04004E;
}

.red
{
	color: #DA0B82;
}

.gray
{
	color: #A4A3C0;
}

.white
{
	color: #FFFFFF;
}

/****************************************************
 * Rules
 ***************************************************/

.uppercase
{
	text-transform: uppercase;
}

/****************************************************
 * Font Styles
 ***************************************************/

.normal
{
	font-weight: normal;
	font-style: normal;
	font-size: normal;
}

.normalbold
{
	font-weight: normal;
	font-style: normal;
	font-size: bold;
}

.bold
{
	font-weight: bold;
	font-style: bold;
	font-size: bold;
}

/****************************************************
 * Fonts
 ***************************************************/

.lato
{
	font-family: 'Lato';
}

.font12
{
	font: 12pt/15pt;
}

.font16
{
	font: 16pt/19pt;
}

.font18
{
	font: 18pt/22pt;
}

.font20
{
	font: 20pt/24pt;
}

.font24
{
	font: 24pt/29pt;
}

.font30
{
	font: 30pt/36pt;
}

.margin28
{
	margin: 28pt;
}

.margin-right28
{
	margin-right: 28pt;
}

/****************************************************
 * Frame
 ***************************************************/

.window
{
	width: 428pt;
	height: 926pt;
	min-width: 428pt;
	min-height: 926pt;
	max-width: 428pt;
	max-height: 926pt;
}

.footer
{
	width: 428pt;
	height: 201pt;
	min-width: 428pt;
	min-height: 201pt;
	max-width: 428pt;
	max-height: 201pt;
}

.frame
{
	background: #f7f8fa;
	border-radius: 13px;
	border-top: 3px inset #ffffff;
	border-left: 3px inset #ffffff;
	border-bottom: 3px inset rgba(174,174,192,96);
	border-right: 3px inset rgba(174,174,192,96);
}

/****************************************************
 * Icons
 ***************************************************/

.settings_icon
{
	min-width: 34pt;
	min-height: 34pt;
	max-width: 34pt;
	max-height: 34pt;
}

.ic_renew
{
	image: url("://gui/ui/asset/ic_renew.png");
}

.ic_key
{
	image: url("://gui/ui/asset/ic_key.png");
}

.ic_key-item
{
	image: url("://gui/ui/asset/ic_key-item.png");
}

.ic_language
{
	image: url("://gui/ui/asset/ic_language.png");
}

.ic_send-report
{
	image: url("://gui/ui/asset/ic_send-report.png");
}

.ic_bot
{
	image: url("://gui/ui/asset/ic_bot.png");
}

.ic_information_bug-report
{
	image: url("://gui/ui/asset/ic_information_bug-report.png");
}

.ic_key-history
{
	image: url("://gui/ui/asset/ic_key-history.png");
}

.ic_terms_policy
{
	image: url("://gui/ui/asset/ic_terms_policy.png");
}

.ic_terms_policy
{
	image: url("://gui/ui/asset/ic_terms_policy.png");
}

.ic_version
{
	image: url("://gui/ui/asset/ic_version.png");
}

/****************************************************
 * Splash Screen
 ***************************************************/

.splashscreen_background
{
	width: 428pt;
	height: 926pt;
	min-width: 428pt;
	min-height: 926pt;
	max-width: 428pt;
	max-height: 926pt;
	image: url(:/gui/ui/asset/bg_dark-stripes.png);
}

.splashscreen_logo
{
	min-width: 230pt;
	max-width: 230pt;
	min-height: 59pt;
	max-height: 59pt;
	image: url(:/gui/ui/asset/logo_kelvpn-white.png);
}
