/****************************************************
 * Colors
 ***************************************************/

.darkblue
{

}

.red
{
	color: #DA0B82;
}

.red_error
{
	color: #F53172;
}

.gray
{
	color: #A4A3C0;
}

.gray_passive
{
	color: #5C5B74;
}

.white
{
	color: #FFFFFF;
}

.transparent
{
	color: rgba(0,0,0,0);
}



.darkblue-light
{
	color: #04004E;
}

.darkblue-dark
{
	color: #FFFFFF;
}

/****************************************************
 * Rules
 ***************************************************/

.uppercase
{
	text-transform: uppercase;
}

.letterspace
{
	/*letter-spacing: 4pt;*/
}

/****************************************************
 * Font Styles
 ***************************************************/

.normal
{
	font-weight: normal;
	font-style: normal;
	font-size: normal;
}

.normalbold
{
	font-weight: bold;
	font-style: bold;
	font-size: bold;
}

.bold
{
	font-weight: bold;
	font-style: bold;
	font-size: bold;
}

/****************************************************
 * Fonts
 ***************************************************/

.lato
{
	font-family: 'Lato';
}

.roboto
{
	font-family: 'Roboto';
}

.font12
{
	font: 12pt/15pt;
}

.font13
{
	font: 13pt/18pt;
}

.font16
{
	font: 16pt/19pt;
}

.font18
{
	font: 18pt/22pt;
}

.font20
{
	font: 20pt/24pt;
}

.font24
{
	font: 24pt/29pt;
}

.font26
{
	font: 26pt/32pt;
}

.font30
{
	font: 30pt/36pt;
}

.margin28
{
	margin: 28pt;
}

.margin-right28
{
	margin-right: 28pt;
}

.margin-bottom28
{
	margin-bottom: 28pt;
}

/****************************************************
 * Frame
 ***************************************************/

.backgroundcolor
{

}

.backgroundcolor-light
{
	background-color: #f7f8fa;
}

.backgroundcolor-dark
{
	background-color: #2f2e42;
}

.nobackground
{
	background-color: rgba(0,0,0,0);
}

.gradientcolor1{color:#E62CC7;}
.gradientcolor2{color:#F53172;}

.bgdebug-green
{
	background-color: #0f0;
}

.bgdebug-blue
{
	background-color: #00f;
}

.bgdebug-red
{
	background-color: #f00;
}

.noborder
{
	border: none;
}

.window
{
	width: 428pt;
	/*height: 926pt;*/
	min-width: 428pt;
	/*min-height: 926pt;*/
	max-width: 428pt;
	/*max-height: 926pt;*/
}

.footer
{
	height: 172pt;
	min-height: 172pt;
	max-height: 172pt;
}

.screenarea
{
	width: 428pt;
	min-width: 428pt;
	max-width: 428pt;
}

.frame
{

}

.base-widget
{
	width: 390pt;
	min-width: 390pt;
	max-width: 390pt;
}


.frame-light
{
	border-image: url("://gfx/light/btn_server_bg.png");
}

.frame-dark
{
	border-image: url("://gfx/dark/btn_server_bg.png");
}

/****************************************************
 * Custom Widgets
 ***************************************************/

.cw_pushbutton
{
	font: 14pt/12pt;
}

.cwpb_bigbutton
{
	width: 374pt;
	height: 80pt;
	min-width: 374pt;
	min-height: 80pt;
	max-width: 374pt;
	max-height: 80pt;
}

.cwpb_square
{
	width: 130pt;
	height: 130pt;
	min-width: 130pt;
	min-height: 130pt;
	max-width: 130pt;
	max-height: 130pt;
}

.cwpb_checkbox .cwpb_radio
{
	width: 60pt;
	height: 60pt;
	min-width: 60pt;
	min-height: 60pt;
	max-width: 60pt;
	max-height: 60pt;
}

.cwpb_switch
{
	width: 266pt;
	height: 174pt;
	min-width: 266pt;
	min-height: 174pt;
	max-width: 266pt;
	max-height: 174pt;
}

.cwpb_close
{
	width: 28pt;
	height: 28pt;
	min-width: 28pt;
	min-height: 28pt;
	max-width: 28pt;
	max-height: 28pt;
}

.cwpb_connection_status
{
	width: 5pt;
	height: 5pt;
	min-width: 5pt;
	min-height: 5pt;
	max-width: 5pt;
	max-height: 5pt;
	margin-right: 6pt;
}

.cwb_close-btn
{
	width: 28pt;
	height: 28pt;
	min-width: 28pt;
	min-height: 28pt;
	max-width: 28pt;
	max-height: 28pt;
}

.cwb_height
{
	height: 108pt;
	min-height: 108pt;
	max-height: 108pt;
}

.cwb_top
{
	padding-bottom: 1pt;
}

.cwb_bottom
{
	padding-top: 1pt;
}

.cwb_mid
{
	padding-left: 2pt;
}

.cwb_left
{

}

.cwb_right
{
	padding-right: 2pt;
}

.ccb_indicator
{
	width: 60pt;
	height: 60pt;
	min-width: 60pt;
	min-height: 60pt;
	max-width: 60pt;
	max-height: 60pt;
}

.ccb_textstyle
{
	
}

.ccb_on
{
	
}

.ccb_off
{
	
}

.ccb_on-light
{
	border-image: url("://gfx/light/check_btn_on.png");
}

.ccb_off-light
{
	border-image: url("://gfx/light/check_btn_off.png");
}

.ccb_on-dark
{
	border-image: url("://gfx/dark/check_btn_on.png");
}

.ccb_off-dark
{
	border-image: url("://gfx/dark/check_btn_off.png");
}

.crb_indicator
{
	width: 60pt;
	height: 60pt;
	min-width: 60pt;
	min-height: 60pt;
	max-width: 60pt;
	max-height: 60pt;
}

.crb_textstyle
{
    height: 60pt;
    min-height: 60pt;
    max-height: 60pt;
}

.crb_indicator_connection
{
    width: 30pt;
    height: 30pt;
    min-width: 30pt;
    min-height: 30pt;
    max-width: 30pt;
    max-height: 30pt;
}

.crb_on
{
	
}

.crb_off
{
	
}

.crb_on-light
{
	qproperty-scaledPixmap: url("://gfx/light/radio_btn_on.png");
}

.crb_off-light
{
	qproperty-scaledPixmap: url("://gfx/light/radio_btn_off.png");
}

.crb_on-dark
{
	qproperty-scaledPixmap: url("://gfx/dark/radio_btn_on.png");
}

.crb_off-dark
{
	qproperty-scaledPixmap: url("://gfx/dark/radio_btn_off.png");
}

.crb_no_connection
{
  qproperty-scaledPixmap:  url("://icons/no_connection.png");
}

.crb_full
{
  qproperty-scaledPixmap:  url("://icons/full.png");
}

.crb_almost_full
{
  qproperty-scaledPixmap:  url("://icons/full_2.png");
}

.crb_middle
{
  qproperty-scaledPixmap:  url("://icons/middle.png");
}

.crb_low
{
  qproperty-scaledPixmap:  url("://icons/low.png");
}

.crb_very_low
{
  qproperty-scaledPixmap:  url("://icons/low_2.png");
}

.csep-left
{

}

.csep-mid
{

}

.csep-right
{

}

.csep-height
{
	min-height: 4pt;	max-height: 4pt;
}

.csep-width
{
	min-width: 8pt;		max-width: 8pt; 
}

.csep-left-light
{
	qproperty-scaledPixmap: url(:/gfx/light/separator_left.png);
}

.csep-mid-light
{
	qproperty-scaledPixmap: url(:/gfx/light/separator_mid.png);
}

.csep-right-light
{
	qproperty-scaledPixmap: url(:/gfx/light/separator_right.png);
}

.csep-left-dark
{
	qproperty-scaledPixmap: url(:/gfx/dark/separator_left.png);
}

.csep-mid-dark
{
	qproperty-scaledPixmap: url(:/gfx/dark/separator_mid.png);
}

.csep-right-dark
{
	qproperty-scaledPixmap: url(:/gfx/dark/separator_right.png);
}


.cpxte-text-placeholder
{
	
}

.cpxte-text
{
	
}

.cpxte-holder
{

}

.cpxte-spooser
{
  qproperty-scaledPixmap: url(:/gfx/dark/report_bg.png);
}

.cpxte-text-placeholder-light
{
  color: #5C5B74;
}

.cpxte-text-light
{
  color: #04004E;
  background-color: rgba(0,0,0,0);/*#F7F8FA;*/
  font: 16pt/25pt;
  font-weight: normal;
  font-style: normal;
  font-size: normal;
  font-family: 'Lato';
}

.cpxte-text-placeholder-dark
{
  color: #A4A3C0;
}

.cpxte-text-dark
{
  color: #FFFFFF;
  background-color: rgba(0,0,0,0);/*#2f2e42;*/
  font: 16pt/25pt;
  font-weight: normal;
  font-style: normal;
  font-size: normal;
  font-family: 'Lato';
}

.cpxte-dolder
{
	padding: 32pt;
}

.cpxte-holder-light
{
	width: 390pt;
	height: 200pt;
	min-width: 390pt;
	min-height: 200pt;
	max-width: 390pt;
	max-height: 200pt;
}

.cpxte-holder-dark
{
	width: 390pt;
	height: 200pt;
	min-width: 390pt;
	min-height: 200pt;
	max-width: 390pt;
	max-height: 200pt;
}

.cpxte-spooser-light
{
  qproperty-scaledPixmap: url(:/gfx/light/report_bg.png);
}

.cpxte-spooser-dark
{
  qproperty-scaledPixmap: url(:/gfx/dark/report_bg.png);
}


.cl_smooth
{
	qproperty-scaledContents: true;
}

/* switch */

.sw-ui
{
	width: 270pt;
	height: 174pt;
	min-width: 270pt;
	min-height: 174pt;
	max-width: 270pt;
	max-height: 174pt;
}

.swbg
{
	width: 246pt;
	height: 160pt;
	min-width: 246pt;
	min-height: 160pt;
	max-width: 246pt;
	max-height: 160pt;
}

.sw-toggle
{
	width: 174pt;
	height: 174pt;
	min-width: 174pt;
	min-height: 174pt;
	max-width: 174pt;
	max-height: 174pt;
}

.sw-on
{

}

.sw-off
{

}

.sw-toggle-on
{

}

.sw-toggle-off
{

}


.sw-on-light
{
	qproperty-scaledPixmap: url("://gfx/light/switch/bg_on.png");
}

.sw-off-light
{
	qproperty-scaledPixmap: url("://gfx/light/switch/bg_off.png");
}

.sw-toggle-on-light
{
	qproperty-scaledPixmap: url("://gfx/light/switch/toggle_on.png");
}

.sw-toggle-off-light
{
	qproperty-scaledPixmap: url("://gfx/light/switch/toggle_off.png");
}


.sw-on-dark
{
	qproperty-scaledPixmap: url("://gfx/dark/switch/bg_on.png");
}

.sw-off-dark
{
	qproperty-scaledPixmap: url("://gfx/dark/switch/bg_off.png");
}

.sw-toggle-on-dark
{
	qproperty-scaledPixmap: url("://gfx/dark/switch/toggle_on.png");
}

.sw-toggle-off-dark
{
	qproperty-scaledPixmap: url("://gfx/dark/switch/toggle_off.png");
}

/****************************************************
 * Icons
 ***************************************************/

.ic_renew
{
	qproperty-scaledPixmap: url("://gui/asset/ic_renew.png");
}

.ic_key
{
	qproperty-scaledPixmap: url("://gui/asset/ic_key.png");
}

.ic_key-item
{
	qproperty-scaledPixmap: url("://gui/asset/ic_key-item.png");
}

.ic_language
{
	qproperty-scaledPixmap: url("://gui/asset/ic_language.png");
}

.ic_send-report
{
	qproperty-scaledPixmap: url("://gui/asset/ic_send-report.png");
}

.ic_bot
{
	qproperty-scaledPixmap: url("://gui/asset/ic_bot.png");
}

.ic_close
{
	qproperty-scaledPixmap: url("://gui/asset/ic_close.png");
}

.ic_copy
{
	qproperty-scaledPixmap: url("://gui/asset/ic_copy.png");
}

.ic_trash
{
  qproperty-scaledPixmap: url("://gui/asset/ic_trash.png");
}

.ic_information_bug-report
{
	qproperty-scaledPixmap: url("://gui/asset/ic_information_bug-report.png");
}

.ic_key-history
{
	qproperty-scaledPixmap: url("://gui/asset/ic_key-history.png");
}

.ic_terms_policy
{
	qproperty-scaledPixmap: url("://gui/asset/ic_terms_policy.png");
}

.ic_terms_policy
{
	qproperty-scaledPixmap: url("://gui/asset/ic_terms_policy.png");
}

.ic_version
{
	qproperty-scaledPixmap: url("://gui/asset/ic_version.png");
}

.ic_theme
{
	qproperty-scaledPixmap: url("://gui/asset/ic_theme.png");
}

.ic_spinner
{
	qproperty-scaledPixmap: url("://gui/asset/Spinner.gif");
}

.ic_online
{
	qproperty-scaledPixmap: url("://gui/asset/icon_online.png");
}

.ic_offline
{
	qproperty-scaledPixmap: url("://gui/asset/icon_offline.png");
}

/****************************************************
 * Menu Footer
 ***************************************************/

.mf_settings
{
	qproperty-custom: url("://gfx/light/btn_settings.png");
	qproperty-customHover: url("://gfx/light/btn_settings_active.png");
	qproperty-customPushed: url("://gfx/light/btn_settings_active.png");
}

.mf_connection
{
	qproperty-custom: url("://gfx/light/btn_connection.png");
	qproperty-customHover: url("://gfx/light/btn_connection_active.png");
	qproperty-customPushed: url("://gfx/light/btn_connection_active.png");
}

.mf_accaunt
{
	qproperty-custom: url("://gfx/light/btn_account.png");
	qproperty-customHover: url("://gfx/light/btn_account_active.png");
	qproperty-customPushed: url("://gfx/light/btn_account_active.png");
}

/****************************************************
 * Splash Screen
 ***************************************************/

.splashscreen_background
{
	width: 428pt;
	height: 926pt;
	min-width: 428pt;
	min-height: 926pt;
	max-width: 428pt;
	max-height: 926pt;
	border-image: url(:/gui/asset/bg_dark-stripes.png);
}

.splashscreen_top_spacer
{
  height: 228pt;
  min-height: 228pt;
  max-height: 228pt;
}

.splashscreen_logo
{
	min-width: 230pt;
	max-width: 230pt;
	min-height: 59pt;
	max-height: 59pt;
	qproperty-scaledPixmap: url(:/gui/asset/logo_kelvpn-white.png);
}

.splashscreen_logo_container
{
	min-height: 59pt;
	max-height: 59pt;
}

.splashscreen_mid_status_spacer
{
  height: 248pt;
  min-height: 248pt;
  max-height: 248pt;
}

.splashscreen_bottom_status_spacer
{
  height: 256pt;
  min-height: 256pt;
  max-height: 256pt;
}

.status_spacer
{
  height: 40pt;
  min-height: 40pt;
  max-height: 40pt;
}

.bottom_spacer
{
  height: 20pt;
  min-height: 20pt;
  max-height: 20pt;
}

.splashscreen_bottom_spacer
{
  height: 61pt;
  min-height: 91pt;
  max-height: 91pt;
}

/****************************************************
 * Login
 ***************************************************/

.login-width
{
	width: 354pt;
	min-width: 354pt;
	max-width: 354pt;
}

.login_logo
{

}

.login_logo-base
{
	width: 260pt;
	height: 89pt;
	min-width: 260pt;
	min-height: 89pt;
	max-width: 260pt;
	max-height: 89pt;
}

.login_logo-light
{
	qproperty-scaledPixmap: url(:/gui/asset/logo_kelvpn-color.png);
}

.login_logo-dark
{
	qproperty-scaledPixmap: url(:/gui/asset/logo_kelvpn-color-dark.png);
}

.login-logo-holder
{
	height: 89pt;
	min-height: 89pt;
	max-height: 89pt;
}

.login-margin-connect-top
{
	height: 120pt;
	min-height: 120pt;
	max-height: 120pt;
}

.login-error-message
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.login-margin-bottom
{
	height: 20pt;
	min-height: 20pt;
	max-height: 20pt;
}

.login-margin-at-connect
{
	height: 50pt;
	min-height: 50pt;
	max-height: 50pt;
}

.login-input-border
{

}

.login-input-border-base
{
	border: 1pt solid #A4A3C0;
	border-radius: 10pt;
	height: 44pt;
	min-height: 44pt;
	max-height: 44pt;
}

.login-input-border-light
{
	border: 1pt solid #20A4A3C0;
}

.login-input-border-dark
{
	border: 1pt solid #205B5C40;
}

.login-input-border-default
{
	border-width: 1px;
}

/****************************************************
 * Connection
 ***************************************************/

.conn-top-spacer
{
	height: 10pt;
	min-height: 10pt;
	max-height: 10pt;
}

.conn-top-text-connected
{
	height: 28pt;
	min-height: 28pt;
	max-height: 28pt;
}

.conn-top-text-time
{
	height: 22pt;
	min-height: 22pt;
	max-height: 22pt;
}

.conn-mid-button-spacer
{
	height: 110pt;
	min-height: 110pt;
	max-height: 110pt;
}

.conn-status-button
{
	width: 154pt;
	height: 99pt;
	min-width: 154pt;
	min-height: 99pt;
	max-width: 154pt;
	max-height: 99pt;
}

.conn-down-button-spacer
{
	height: 10pt;
	min-height: 10pt;
	max-height: 10pt;
}

.conn-connectedto-button
{
	width: 410pt;
	height: 137pt;
	min-width: 410pt;
	min-height: 137pt;
	max-width: 410pt;
	max-height: 137pt;
}

.conn-status-icon
{
	width: 5pt;
	height: 5pt;
	min-width: 5pt;
	min-height: 5pt;
	max-width: 5pt;
	max-height: 5pt;
	margin-right: 11pt;
}

/****************************************************
 * Settings
 ***************************************************/

.sett-width
{
	width: 363pt;
	min-width: 363pt;
	max-width: 363pt;
}

.sett-top-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.sett-title
{
	height: 28pt;
	min-height: 28pt;
	max-height: 28pt;
}

.sett-bottom-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.sett-scroll-holder
{
}

.sett-scroll-area
{
}

.sett-scroll-btn
{
	width: 363pt;
	height: 64pt;
	min-width: 363pt;
	min-height: 64pt;
	max-width: 363pt;
	max-height: 64pt;
}

.sett-scroll-title
{
	width: 363pt;
	height: 96pt;
	min-width: 363pt;
	min-height: 96pt;
	max-width: 363pt;
	max-height: 96pt;
}

.sett-scroll-title-top
{
	width: 363pt;
	height: 28pt;
	min-width: 363pt;
	min-height: 28pt;
	max-width: 363pt;
	max-height: 28pt;
}

.settings_icon
{
	min-width: 34pt;
	min-height: 34pt;
	max-width: 34pt;
	max-height: 34pt;
}

/****************************************************
 * Statistics
 ***************************************************/

.stat-top-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.stat-top-text-statistics
{
	height: 28pt;
	min-height: 28pt;
	max-height: 28pt;
}

.stat-top-frame-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.stat-bottom-frame-spacer
{
	height: 10pt;
	min-height: 10pt;
	max-height: 10pt;
}

.stat-frame
{
  border: 1px solid transparent;

	width: 360pt;
	height: 162pt;
	min-width: 360pt;
	min-height: 162pt;
	max-width: 360pt;
	max-height: 162pt;
}

.stat-info
{
	height: 99pt;
	min-height: 99pt;
	max-height: 99pt;
}
.graphics
{

}

.graphics-dark
{
        colorBackground: #2f2e42;
        colorChartDownload: #FF22A2;
        colorChartUpload: #9F83FF;
}

.graphics-light
{
        colorBackground: #f7f8fa;
        colorChartDownload: #D61F5D;
        colorChartUpload: #2D1FD6;
}
/****************************************************
 * Bug reports
 ***************************************************/

.bugrep-widget
{
	width: 390pt;
	min-width: 390pt;
	max-width: 390pt;
}

.bugrep-top-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.bugrep-close-btn
{
	width: 28pt;
	height: 28pt;
	min-width: 28pt;
	min-height: 28pt;
	max-width: 28pt;
	max-height: 28pt;
}

.bugrep-title-text
{
	width: 282pt;
	height: 28pt;
	min-width: 282pt;
	min-height: 28pt;
	max-width: 282pt;
	max-height: 28pt;
}

.bugrep-top-input-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.bugrep-attach-send-spacer
{
	height: 30pt;
	min-height: 30pt;
	max-height: 30pt;
}

.bugrep-item
{
	width: 392pt;
	height: 64pt;
	min-width: 392pt;
	min-height: 64pt;
	max-width: 392pt;
	max-height: 64pt;
}

.bugrep-icon
{
	width: 34pt;
	height: 34pt;
	min-width: 34pt;
	min-height: 34pt;
	max-width: 34pt;
	max-height: 34pt;
}

.bugrep-icon-right
{
  width: 20pt;
  height: 20pt;
  min-width: 20pt;
  min-height: 20pt;
  max-width: 20pt;
  max-height: 20pt;
}

.bugrep-spinner
{
	width: 160pt;
	height: 160pt;
	min-width: 160pt;
	min-height: 160pt;
	max-width: 160pt;
	max-height: 160pt;
}

.bugrep-result-container
{
	height: 224pt;
	min-height: 224pt;
	max-height: 224pt;
}

/****************************************************
 * Purchase
 ***************************************************/

.purchase-top-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.purchase-top-content-spacer
{
	height: 50pt;
	min-height: 50pt;
	max-height: 50pt;
}

.purchase-title-text
{
	width: 282pt;
	height: 28pt;
	min-width: 282pt;
	min-height: 28pt;
	max-width: 282pt;
	max-height: 28pt;
}

.purchase-item
{
	width: 357pt;
	height: 96pt;
	min-width: 357pt;
	min-height: 96pt;
	max-width: 357pt;
	max-height: 96pt;
}

.purchase-item-text-left
{
	padding-left: 35pt;
}

.purchase-item-text-main
{
	
}

.purchase-item-text-sub
{
	
}

/****************************************************
 * Choose server
 ***************************************************/

.choser-width
{
	width: 363pt;
	min-width: 363pt;
	max-width: 363pt;
}

.choser-top-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.choser-top-content-spacer
{
	height: 50pt;
	min-height: 50pt;
	max-height: 50pt;
}

.choser-title-text
{
	width: 282pt;
	height: 28pt;
	min-width: 282pt;
	min-height: 28pt;
	max-width: 282pt;
	max-height: 28pt;
}

.choser-item
{
	height: 64pt;
	min-height: 64pt;
	max-height: 64pt;
	margin-top: 20pt;
}

/****************************************************
 * Choose language
 ***************************************************/

.cholang-top-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.cholang-top-content-spacer
{
	height: 50pt;
	min-height: 50pt;
	max-height: 50pt;
}

.cholang-title-text
{
	width: 282pt;
	height: 28pt;
	min-width: 282pt;
	min-height: 28pt;
	max-width: 282pt;
	max-height: 28pt;
}

/****************************************************
 * History
 ***************************************************/

.history-top-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.history-top-content-spacer
{
  height: 20pt;
  min-height: 20pt;
  max-height: 20pt;
}

.history-title-text
{
	width: 282pt;
	height: 28pt;
	min-width: 282pt;
	min-height: 28pt;
	max-width: 282pt;
	max-height: 28pt;
}

.history-item
{
	width: 392pt;
	height: 64pt;
	min-width: 392pt;
	min-height: 64pt;
	max-width: 392pt;
	max-height: 64pt;
}

.history-icon
{
  min-width: 40pt;
  min-height: 40pt;
  max-width: 40pt;
  max-height: 40pt;
}

/****************************************************
 * Document Popup
 ***************************************************/

.docpop-top-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.docpop-top-content-spacer
{
	height: 50pt;
	min-height: 50pt;
	max-height: 50pt;
}

.docpop-title-text
{
	width: 282pt;
	height: 28pt;
	min-width: 282pt;
	min-height: 28pt;
	max-width: 282pt;
	max-height: 28pt;
}

/****************************************************
 * VersionUpdate
 ***************************************************/

.ver-top-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.ver-top-content-spacer
{
	height: 150pt;
	min-height: 150pt;
	max-height: 150pt;
}

.ver-title-text
{
	height: 28pt;
	min-height: 28pt;
	max-height: 28pt;
}

.ver-title-img-container
{
	height: 89pt;
	min-height: 89pt;
	max-height: 89pt;
}

.ver-button-spacer
{
	height: 330pt;
	min-height: 330pt;
	max-height: 330pt;
}

.ver-button-container
{
	height: 80pt;
	min-height: 80pt;
	max-height: 80pt;
}

/****************************************************
 * Serial Input
 ***************************************************/

.serin-input
{
	height: 48pt;
	min-height: 48pt;
	max-height: 48pt;
}

.serin-top-content-spacer
{
	height: 40pt;
	min-height: 40pt;
	max-height: 40pt;
}

.serin-title-text
{
	width: 282pt;
	height: 28pt;
	min-width: 282pt;
	min-height: 28pt;
	max-width: 282pt;
	max-height: 28pt;
}

.serin-bottom-content-spacer
{
	height: 75pt;
	min-height: 75pt;
	max-height: 75pt;
}

.serin-text-separator
{
	width: 14pt;
	min-width: 14pt;
	max-width: 14pt;
}
