/****************************************************
 * QSS scaled is described in scaled.h
 ***************************************************/

/****************************************************
 * Themes
 ***************************************************/

.@light
{
    text: "#1E1E1E";
    background: "#FFFFFF";
    update-background: "#FFFFFF";
    label: "#5A5A5A";
    light-grey: "#A9A9B0";
    input-field: "#F7F7F7";
    input-placeholder: "#A9A9B0";
    error: "#F47A54";
    brand: "#F45480";
    accent: "#FD4E75";
    upload: "#5E31F5";
    grid: "#FFFFFF";
    purple: "#B67CFF";
    separator-color: "#E6E6E6";
    sett-hover-background: "#F7F7F7";
    choose-server-unknown: "#DDDDDD";
    choose-server-shine: "#F1F1F1";
    switch-bg-on:               "qrc:/light/switch/bg_on.png";
    switch-bg-off:              "qrc:/light/switch/bg_off.png";
    switch-bg-conn:             "qrc:/light/switch/bg_conn.png";
    switch-toggle-on:           "qrc:/light/switch/toggle_on.png";
    switch-toggle-off:          "qrc:/light/switch/toggle_off.png";
    button-frame:               "qrc:/light/btn_server_bg.png";
    button-arrow:               "qrc:/light/ic_arrow-right.png";
    checkbox-on:                "qrc:/light/check_btn_on.png";
    checkbox-off:               "qrc:/light/check_btn_off.png";
    radio-on:                   "qrc:/light/radio_btn_on.png";
    radio-off:                  "qrc:/light/radio_btn_off.png";
    checkbox-switch-on:         "qrc:/light/ckeckbox-on.png";
    checkbox-switch-off:        "qrc:/light/ckeckbox-off.png";
    separator-left:             "qrc:/light/separator_left.png";
    separator-mid:              "qrc:/light/separator_mid.png";
    separator-right:            "qrc:/light/separator_right.png";
    push-button-active:         "qrc:/light/btn_bg_hover_active.png";
    push-button-inactive:       "qrc:/light/btn_bg.png";
    push-button-disabled:       "qrc:/light/btn_bg_disabled.png";
    footer-settings-active:     "qrc:/light/btn_settings_active.png";
    footer-settings-inactive:   "qrc:/light/btn_settings.png";
    footer-dashboard-active:    "qrc:/light/btn_connection_active.png";
    footer-dashboard-inactive:  "qrc:/light/btn_connection.png";
    footer-statistics-active:   "qrc:/light/btn_account_active.png";
    footer-statistics-inactive: "qrc:/light/btn_account.png";
    bugrep-bg:                  "qrc:/light/report_bg_border.png";
    bugrep-bg-75:               "qrc:/light/report_bg_border_75.png";
    login-logo:                 "qrc:/light/login-logo.png";
    splash-logo:                "qrc:/light/logo.png";
    btn-plus:                   "qrc:/light/ic_plus.png";
    btn-minus:                  "qrc:/light/ic_minus.png";
    btn-close:                  "qrc:/light/ic_close.png";
    btn-close-hover:            "qrc:/light/ic_close_hover.png";
    country-filter-clear:       "qrc:/light/btn_filter_clear.png";
    country-filter-clear-hover: "qrc:/light/btn_filter_clear_hover.png";
    login-mode-btn-serial-active:   "qrc:/light/key.png";
    login-mode-btn-serial-inactive: "qrc:/light/key_inactive.png";
    login-mode-btn-nocbd-active:    "qrc:/light/wallet.png";
    login-mode-btn-nocbd-inactive:  "qrc:/light/wallet_inactive.png";
    btn-ticker-close:           "qrc:/light/ic_ticker_close.png";
    btn-ticker-close-hover:     "qrc:/light/ic_ticker_close_hover.png";
    btn-update-notification-close:          "qrc:/light/ic_close_update.png";
    btn-update-notification-close-hover:    "qrc:/light/ic_close_update_hover.png";
    rouexc-close:               "qrc:/light/rouexc-close.png";

    ic-renew:                   "qrc:/dapqml-forms-asset/light/ic_renew.png";
    ic-key:                     "qrc:/dapqml-forms-asset/light/ic_key.png";
    ic-location:                "qrc:/dapqml-forms-asset/light/ic_location.png";
    ic-route:                   "qrc:/dapqml-forms-asset/light/ic_route.png";
    ic-language:                "qrc:/dapqml-forms-asset/light/ic_language.png";
    ic-theme:                   "qrc:/dapqml-forms-asset/light/ic_theme.png";
    ic-send-report:             "qrc:/dapqml-forms-asset/light/ic_send-report.png";
    ic-bot:                     "qrc:/dapqml-forms-asset/light/ic_bot.png";
    ic-share-report:            "qrc:/dapqml-forms-asset/light/ic_share_log.png";
    ic-info-bug-report:         "qrc:/dapqml-forms-asset/light/ic_information_bug-report.png";
    ic-faq:                     "qrc:/dapqml-forms-asset/light/ic_faq.png";
    ic-key-history:             "qrc:/dapqml-forms-asset/light/ic_key-history.png";
    ic-terms-policy:            "qrc:/dapqml-forms-asset/light/ic_terms_policy.png";
    ic-version:                 "qrc:/dapqml-forms-asset/light/ic_version.png";
    ic-report-item:             "qrc:/dapqml-forms-asset/light/ic_report-item.png";
    ic-key-item:                "qrc:/dapqml-forms-asset/light/ic_key-item.png";
    ic-orders:                  "qrc:/dapqml-forms-asset/light/ic_orders.png";
    ic-notification:            "qrc:/dapqml-forms-asset/light/ic_notification.png";
    ic-update:                  "qrc:/dapqml-forms-asset/light/ic_update.png";
}

.@dark
{
    text: "#FFFFFF";
    background: "#1E1E1E";
    update-background: "#333333";
    label: "#A9A9B0";
    light-grey: "#F7F7F7";
    input-field: "#333333";
    input-placeholder: "#A9A9B0";
    error: "#F47A54";
    brand: "#F45480";
    accent: "#FD4E75";
    upload: "#9F83FF";
    grid: "#3F3F3F";
    purple: "#B67CFF";
    separator-color: "#3F3F3F";
    sett-hover-background: "#5A5A5A";
    choose-server-unknown: "#424242";
    choose-server-shine: "#585858";
    switch-bg-on:               "qrc:/dark/switch/bg_on.png";
    switch-bg-off:              "qrc:/dark/switch/bg_off.png";
    switch-bg-conn:             "qrc:/dark/switch/bg_conn.png";
    switch-toggle-on:           "qrc:/dark/switch/toggle_on.png";
    switch-toggle-off:          "qrc:/dark/switch/toggle_off.png";
    button-frame:               "qrc:/dark/btn_server_bg.png";
    button-arrow:               "qrc:/dark/ic_arrow-right.png";
    checkbox-on:                "qrc:/dark/check_btn_on.png";
    checkbox-off:               "qrc:/dark/check_btn_off.png";
    radio-on:                   "qrc:/dark/radio_btn_on.png";
    radio-off:                  "qrc:/dark/radio_btn_off.png";
    checkbox-switch-on:         "qrc:/dark/ckeckbox-on.png";
    checkbox-switch-off:        "qrc:/dark/ckeckbox-off.png";
    separator-left:             "qrc:/dark/separator_left.png";
    separator-mid:              "qrc:/dark/separator_mid.png";
    separator-right:            "qrc:/dark/separator_right.png";
    push-button-active:         "qrc:/dark/btn_bg_hover_active.png";
    push-button-inactive:       "qrc:/dark/btn_bg.png";
    push-button-disabled:       "qrc:/dark/btn_bg_disabled.png";
    footer-settings-active:     "qrc:/dark/btn_settings_active.png";
    footer-settings-inactive:   "qrc:/dark/btn_settings.png";
    footer-dashboard-active:    "qrc:/dark/btn_connection_active.png";
    footer-dashboard-inactive:  "qrc:/dark/btn_connection.png";
    footer-statistics-active:   "qrc:/dark/btn_account_active.png";
    footer-statistics-inactive: "qrc:/dark/btn_account.png";
    bugrep-bg:                  "qrc:/dark/report_bg_border.png";
    bugrep-bg-75:               "qrc:/dark/report_bg_border_75.png";
    login-logo:                 "qrc:/dark/login-logo.png";
    splash-logo:                "qrc:/dark/logo.png";
    btn-plus:                   "qrc:/dark/ic_plus.png";
    btn-minus:                  "qrc:/dark/ic_minus.png";
    btn-close:                  "qrc:/dark/ic_close.png";
    btn-close-hover:            "qrc:/dark/ic_close_hover.png";
    country-filter-clear:       "qrc:/dark/btn_filter_clear.png";
    country-filter-clear-hover: "qrc:/dark/btn_filter_clear_hover.png";
    login-mode-btn-serial-active:   "qrc:/dark/key.png";
    login-mode-btn-serial-inactive: "qrc:/dark/key_inactive.png";
    login-mode-btn-nocbd-active:    "qrc:/dark/wallet.png";
    login-mode-btn-nocbd-inactive:  "qrc:/dark/wallet_inactive.png";
    btn-ticker-close:           "qrc:/dark/ic_ticker_close.png";
    btn-ticker-close-hover:     "qrc:/dark/ic_ticker_close_hover.png";
    btn-update-notification-close:          "qrc:/dark/ic_close_update.png";
    btn-update-notification-close-hover:    "qrc:/dark/ic_close_update_hover.png";
    rouexc-close:               "qrc:/dark/rouexc-close.png";

    ic-renew:                   "qrc:/dapqml-forms-asset/dark/ic_renew.png";
    ic-key:                     "qrc:/dapqml-forms-asset/dark/ic_key.png";
    ic-location:                "qrc:/dapqml-forms-asset/dark/ic_location.png";
    ic-route:                   "qrc:/dapqml-forms-asset/dark/ic_route.png";
    ic-language:                "qrc:/dapqml-forms-asset/dark/ic_language.png";
    ic-theme:                   "qrc:/dapqml-forms-asset/dark/ic_theme.png";
    ic-send-report:             "qrc:/dapqml-forms-asset/dark/ic_send-report.png";
    ic-bot:                     "qrc:/dapqml-forms-asset/dark/ic_bot.png";
    ic-share-report:            "qrc:/dapqml-forms-asset/dark/ic_share_log.png";
    ic-info-bug-report:         "qrc:/dapqml-forms-asset/dark/ic_information_bug-report.png";
    ic-faq:                     "qrc:/dapqml-forms-asset/dark/ic_faq.png";
    ic-key-history:             "qrc:/dapqml-forms-asset/dark/ic_key-history.png";
    ic-terms-policy:            "qrc:/dapqml-forms-asset/dark/ic_terms_policy.png";
    ic-version:                 "qrc:/dapqml-forms-asset/dark/ic_version.png";
    ic-report-item:             "qrc:/dapqml-forms-asset/dark/ic_report-item.png";
    ic-key-item:                "qrc:/dapqml-forms-asset/dark/ic_key-item.png";
    ic-orders:                  "qrc:/dapqml-forms-asset/dark/ic_orders.png";
    ic-notification:            "qrc:/dapqml-forms-asset/dark/ic_notification.png";
    ic-update:                  "qrc:/dapqml-forms-asset/dark/ic_update.png";
}

/****************************************************
 * Font
 ***************************************************/

.font-brand
{
    qproperty-fontFamiliy: "Lato";
}

/****************************************************
 * Colors
 ***************************************************/

.c-label
{
    color: "@text";
}

.c-grey
{
    color: "@light-grey";
}

.c-brand
{
    color: "@brand";
}

.c-background
{
    color: "@background";
}

.c-dashboard-accent
{
    color: "#F47A54";
}

.c-purple
{
    color: "@purple";
}

.c-error
{
    color: "@error";
}

/****************************************************
 * Aligns
 ***************************************************/

.text-align-left
{
    horizontal-align: Text.AlignLeft;
}

.text-align-center
{
    horizontal-align: Text.AlignHCenter;
}

.text-align-right
{
    horizontal-align: Text.AlignRight;
}

/****************************************************
 * Widgets
 ***************************************************/

.switch-bg-off
{
    qproperty-scaledPixmap: "@switch-bg-off";
}

.switch-bg-on
{
    qproperty-scaledPixmap: "@switch-bg-on";
}

.switch-bg-conn
{
    qproperty-scaledPixmap: "@switch-bg-conn";
}

.switch-toggle-off
{
    qproperty-scaledPixmap: "@switch-toggle-off";
}

.switch-toggle-on
{
    qproperty-scaledPixmap: "@switch-toggle-on";
}



.btn-frame
{
    qproperty-scaledPixmap: "@button-frame";
}

.btn-arrow
{
    qproperty-scaledPixmap: "@button-arrow";
}

.btn-checkbox
{
    scaled-rect: scaled(nan,nan,58,33,true);
}



.checkbox-on
{
    qproperty-scaledPixmap: "@checkbox-on";
}

.checkbox-off
{
    qproperty-scaledPixmap: "@checkbox-off";
}

.radio-on
{
    qproperty-scaledPixmap: "@radio-on";
}

.radio-off
{
    qproperty-scaledPixmap: "@radio-off";
}

.radio-label
{
    color: "@text";
    scaled-font: scaled(16);
    font-weight: Font.Normal;
}

.checkbox-switch-on
{
    qproperty-scaledPixmap: "@checkbox-switch-on";
}

.checkbox-switch-off
{
    qproperty-scaledPixmap: "@checkbox-switch-off";
}




.line-edit-icon
{
    scaled-rect: scaled(nan,nan,20,20,true);
}



.form-title-close-btn
{
    scaled-rect: scaled(0,0,32,32,true);
    active: "@btn-close-hover";
    inactive: "@btn-close";
}

.form-title-label
{
    scaled-rect: scaled(39,0,282,28,false,24);
    color: "@text";
    font-weight: Font.Bold;
}



.sep-rect {
    scaled-rect: scaled(nan,nan,8,3,false);
}

.sep-left
{
    qproperty-scaledPixmap: "@separator-left";
}

.sep-mid
{
    qproperty-scaledPixmap: "@separator-mid";
}

.sep-right
{
    qproperty-scaledPixmap: "@separator-right";
}

.sep-color
{
    color: "@separator-color";
}



.push-button
{
    active: "@push-button-active";
    inactive: "@push-button-inactive";
    disabled: "@push-button-disabled";
    scaled-font: scaled(16);
}



.inputfield-separator
{
    scaled-rect: scaled(nan,nan,nan,nan,false);
}

.inputfield-input
{
    scaled-rect: scaled(nan,nan,nan,40,false,16);
}

.inputfield-placeholder-in
{
    scaled-rect: scaled(nan,nan,nan,40,false,16);
}

.inputfield-placeholder-out
{
    scaled-rect: scaled(nan,nan,nan,24,false,12);
}



.radiobtn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}

.radiobtn-spacer
{
    scaled-rect: scaled(nan,nan,392,8,false);
}

.radiobtn-resizer-note
{
    scaled-rect: scaled(nan,nan,370,64,false);
}



.null-size
{
    scaled-rect: scaled(nan,nan,0,0,false);
}

.null-pos
{
    scaled-rect: scaled(0,0,nan,nan,false);
}

/****************************************************
 * Icons
 ***************************************************/

.ic_renew
{
    qproperty-scaledPixmap: "@ic-renew";
}

.ic_key
{
    qproperty-scaledPixmap: "@ic-key";
}

.ic_location
{
    qproperty-scaledPixmap: "@ic-location";
}

.ic_route
{
    qproperty-scaledPixmap: "@ic-route";
}

.ic_language
{
    qproperty-scaledPixmap: "@ic-language";
}

.ic_theme
{
    qproperty-scaledPixmap: "@ic-theme";
}

.ic_send-report
{
    qproperty-scaledPixmap: "@ic-send-report";
}

.ic_bot
{
    qproperty-scaledPixmap: "@ic-bot";
}

.ic_share_log
{
    qproperty-scaledPixmap: "@ic-share-report";
}

.ic_information_bug-report
{
    qproperty-scaledPixmap: "@ic-info-bug-report";
}

.ic_faq
{
    qproperty-scaledPixmap: "@ic-faq";
}

.ic_key-history
{
    qproperty-scaledPixmap: "@ic-key-history";
}

.ic_terms_policy
{
    qproperty-scaledPixmap: "@ic-terms-policy";
}

.ic_version
{
    qproperty-scaledPixmap: "@ic-version";
}

.ic_report-item
{
    qproperty-scaledPixmap: "@ic-report-item";
}

.ic_key-item
{
    qproperty-scaledPixmap: "@ic-key-item";
}

.ic_orders
{
    qproperty-scaledPixmap: "@ic-orders";
}

.ic_notification
{
    qproperty-scaledPixmap: "@ic-notification";
}

.ic_back
{
    qproperty-scaledPixmap: "@btn-close";
}




.ic_close
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_close.png");
}

.ic_copy
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_copy.png");
}

.ic_copy_pressed
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_copy_pressed.png");
}

.ic_trash
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_trash.png");
}

.ic_certificate
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_certificate.png");
}

.ic_cdb-manager
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_cdb-manager.png");
}

.ic_server-manager
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_server-manager.png");
}

.ic_spinner
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/Spinner.gif");
}

.ic_country_filter
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_filter.png");
}

.ic_online
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/icon_online.png");
}

.ic_offline
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/icon_offline.png");
}

.ic_conn-0
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-0.png");
}

.ic_conn-1
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-1.png");
}

.ic_conn-2
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-2.png");
}

.ic_conn-3
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-3.png");
}

.ic_conn-4
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-4.png");
}

.ic_conn-5
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-5.png");
}

.ic_nocdb-shield
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/shield.png");
}

/****************************************************
 * Main window
 ***************************************************/

.content-frame
{
    scaled-rect: scaled(0,0,-1,754,false);
}

.content-mid
{
    scaled-rect: scaled(-1,nan,363,nan,false);
}

.content-background
{
    color: "@background";
}

/****************************************************
 * Misc
 ***************************************************/

.dialog-title
{
    scaled-rect: scaled(34,64,360,28,false);
    color: "@text";
}

/****************************************************
 * Popup Dialog
 ***************************************************/

.popup-dialog
{
/*
    scaled-rect: scaled(nan,nan,280,186,false);
    color: "@background";
*/
    scaled-rect: scaled(nan,nan,280,232,false);
    color: "@background";
    radius: 8;
}

.popup-dalog-title
{
/*
    scaled-rect: scaled(57,20,170,24,false,20);
    color: "@text";
    clip: false;
*/
    scaled-rect: scaled(nan,24,200,24,false,20);
    color: "@text";
    clip: false;
}

.popup-dalog-text
{
/*
    scaled-rect: scaled(nan,57,268,50,false,16);
    color: "@label";
    clip: false;
*/
    scaled-rect: scaled(nan,56,268,72,false,16);
    color: "@label";
    clip: false;
}

.popup-dalog-left-button
{
/*
    scaled-rect: scaled(11,nan,86,36,false,14);
    color: "@text";
*/
    scaled-rect: scaled(24,nan,110,48,false);
    color: "#F7F7F7";
    radius: 8;
}

.popup-dalog-left-label
{
/*
    scaled-rect: scaled(183,nan,86,36,false,14);
    color: "@brand";
*/
    scaled-font: scaled(16);
    color: "#1E1E1E";
}

.popup-dalog-right-button
{
/*
    scaled-rect: scaled(nan,nan,86,36,false,14);
    color: "@brand";
*/
    scaled-rect: scaled(146,nan,110,48,false);
    color: "@brand";
    radius: 8;
}

.popup-dalog-right-label
{
    scaled-font: scaled(16);
    color: "#FFFFFF";
}

.popup-dalog-middle-button
{
    scaled-rect: scaled(nan,nan,110,48,false);
    color: "@brand";
    radius: 8;
}

.popup-dalog-middle-label
{
    scaled-font: scaled(16);
    color: "#FFFFFF";
}

/****************************************************
 * Footer
 ***************************************************/

.footer-frame
{
    scaled-rect: scaled(nan,nan,-1,201,false);
}

.footer-btn-settings
{
    scaled-rect: scaled(19,0,130,130,true);
    active: "@footer-settings-active";
    inactive: "@footer-settings-inactive";
}

.footer-btn-dashboard
{
    scaled-rect: scaled(149,0,130,130,true);
    active: "@footer-dashboard-active";
    inactive: "@footer-dashboard-inactive";
}

.footer-btn-statistics
{
    scaled-rect: scaled(279,0,130,130,true);
    active: "@footer-statistics-active";
    inactive: "@footer-statistics-inactive";
}

/****************************************************
 * Splashscreen
 ***************************************************/

.splash-logo
{
    scaled-rect: scaled(nan,220,276,76,true);
    qproperty-scaledPixmap: "@splash-logo";
}

.splash-status
{
    scaled-rect: scaled(-1,435,-1,64,false,18);
}

.splash-version
{
    scaled-rect: scaled(-1,nan,-1,96,false,12);
}

.splash-gradient-top
{
    color: "#E62CC7";
}

.splash-gradient-bottom
{
    color: "#F53172";
}

/****************************************************
 * Login
 ***************************************************/

.login-logo
{
    scaled-rect: scaled(-1,104,260,89,true);
    qproperty-scaledPixmap: "@login-logo";
}

.login-btn-serial-cdb
{
    scaled-rect: scaled(-1,292,356,108,true);
}

.login-btn-serial-nocdb
{
    scaled-rect: scaled(-1,242,356,108,true);
}

.login-btn-main
{
    scaled-font: scaled(20);
    color: "@text";
    font-weight: Font.Bold;
}

.login-btn-sub
{
    scaled-font: scaled(12);
    color: "#A4A3C0";
    font-weight: Font.Normal;
}

.login-btn-choose-server
{
    scaled-rect: scaled(-1,414,356,108,true);
}

.login-btn-choose-order
{
    scaled-rect: scaled(-1,360,356,108,true);
}

.login-mode-container
{
    scaled-rect: scaled(-1,524,356,64,false);
}

.login-mode-button-size
{
    scaled-rect: scaled(nan,nan,170,64,false);
}

.login-mode-serial
{
    scaled-rect: scaled(nan,nan,170,64,false);
    active: "@login-mode-btn-serial-active";
    inactive: "@login-mode-btn-serial-inactive";
}

.login-mode-nocdb
{
    scaled-rect: scaled(nan,nan,170,64,false);
    active: "@login-mode-btn-nocbd-active";
    inactive: "@login-mode-btn-nocbd-inactive";
}

.login-btn-connect-by-serial
{
    scaled-rect: scaled(-1,570,356,80,true,16);
}

.login-btn-connect-by-nocbd
{
    scaled-rect: scaled(-1,611,356,80,true,16);
}

.login-btn-orders-history-frame
{
    scaled-rect: scaled(nan,nan,356,52,false,18);
    color: "@input-field";
    font-weight: Font.Bold;
}

.login-obtain-container-serial-mode
{
    scaled-rect: scaled(-1,675,356,19,false);
}

.login-obtain-container-mocbd-mode
{
    scaled-rect: scaled(-1,705,356,19,false);
}

.login-obtain-font
{
    scaled-font: scaled(16);    
}

.login-transaction-processing-arc-animation
{
    scaled-rect: scaled(-1,196,200,200,true);
}

.login-transaction-processing-label-nocbd
{
    scaled-rect: scaled(-1,380,327,80,false,20);
    color: "@text";
}

.login-connecting-label
{
    color: "@text";
    scaled-font: scaled(20);
}

.login-connection-container
{
    scaled-rect: scaled(nan,nan,-1,120,false);
}

.login-separator-color
{
    color: "@separator-color";
    scaled-rect: scaled(nan,nan,nan,1,false);
}

/****************************************************
 * Transaction
 ***************************************************/

.overview-btn-wallet-container
{
    scaled-rect: scaled(-1,134,-1,108,true);
}

.overview-btn-network-container
{
    scaled-rect: scaled(-1,244,-1,108,true);
}

.overview-btn-cell-container
{
    scaled-rect: scaled(-1,354,-1,108,true);
}

.overview-btn-server-container
{
    scaled-rect: scaled(-1,354,-1,108,true);
}

.overview-btn-maxprice-container
{
    scaled-rect: scaled(-1,464,-1,108,true);
}

.overview-btn-unit-container
{
    scaled-rect: scaled(-1,464,-1,108,true);
}

.overview-btn-price-container
{
    scaled-rect: scaled(-1,564,-1,108,true);
}

.overview-btn-confirm
{
    scaled-rect: scaled(-1,737,374,80,true,12);
}

.overview-item-name
{
    color: "@light-grey";
    scaled-font: scaled(16);
}

.overview-item-value
{
    color: "@text";
    scaled-font: scaled(16);
}

.overview-item-button
{
    color: "@brand";
    scaled-font: scaled(14);
}

.overview-item-total
{
    color: "@text";
    scaled-font: scaled(20);
    font-weight: Font.Bold;
}

/****************************************************
 * Settings
 ***************************************************/

.sett-content
{
    scaled-rect: scaled(nan,nan,392,nan,false);
}

.sett-spacer
{
    scaled-rect: scaled(nan,nan,nan,20,false);
}

.sett-resizer1
{
    scaled-rect: scaled(nan,nan,nan,64,false,34);
}

.sett-resizer2
{
    scaled-rect: scaled(nan,nan,nan,116,false);
}

.sett-item
{
    scaled-rect: scaled(nan,nan,nan,nan,false,34);
}

.sett-btn-lbl-main
{
    color: "@text";
    scaled-font: scaled(16);    
    font-weight: Font.Normal;
}

.sett-btn-lbl-sub
{
/*
    color: "@light-grey";
    scaled-font: scaled(12);    
    font-weight: Font.Normal;
*/
    color: "@input-placeholder";
    scaled-font: scaled(12);    
    font-weight: Font.Normal;
}

.sett-btn-lbl-sub-red
{
    color: "@brand";
    scaled-font: scaled(16);    
    font-weight: Font.Bold;
}

.sett-btn-lbl-sub-link
{
/*
    color: "@light-grey";
    scaled-font: scaled(16);
    font-weight: Font.Normal;
*/
    color: "@input-placeholder";
    scaled-font: scaled(16);
    font-weight: Font.Normal;
}

.sett-title-lbl-main
{
    color: "@text";
    horizontal-align: Text.AlignHCenter;
    scaled-rect: scaled(nan,nan,nan,nan,false,24);
    font-weight: Font.Bold;
}

.sett-btn-hover-bg
{
    color: "@sett-hover-background";
}

/****************************************************
 * Statistics
 ***************************************************/

.stat-title
{
    color: "@text";
    font-size: 24;
    font-weight: Font.Bold;
}

.stat-item-main
{
    color: "@text";
}

.stat-item-sub
{
    color: "#A4A3C0";
}

.stat-graph
{
    scaled-rect: scaled(-1,144,356,176,false);
}

.stat-indicators-container
{
    scaled-rect: scaled(nan,336,nan,360,false);
}

.stat-scaler-ind
{
    scaled-rect: scaled(nan,nan,170,100,false,24);
    font-weight: Font.DemiBold;
}

.stat-scaler-sub
{
    scaled-rect: scaled(nan,nan,nan,nan,false,12);
}

/****************************************************
 * Dashboard
 ***************************************************/

.dashboard-title
{
    color: "@brand";
    scaled-rect: scaled(-1,62,-1,36,false,24);
    font-weight: Font.Bold;
}

.dashboard-status-container
{
    scaled-rect: scaled(nan,nan,-1,22,true);
}

.dashboard-status-container-pos
{
    scaled-rect: scaled(nan,107,nan,nan,nan);
}

.dashboard-status-label-scaler
{
    scaled-rect: scaled(nan,nan,107,22,true,18);
}

.dashboard-status-label
{
    color: "@text";
}

.dashboard-status-icon
{
    scaled-rect: scaled(nan,nan,5,5,true);
}

.dashboard-error-label
{
/*
    scaled-rect: scaled(51,140,327,57,false,14);
    color: "#F53172";
*/
    scaled-rect: scaled(51,nan,327,57,false,14);
    color: "#F53172";
}

.dashboard-error-label-pos
{
    scaled-rect: scaled(nan,140,nan,nan,false);
}

.dashboard-switch
{
/*
    scaled-rect: scaled(-1,250,238,150,true);
*/
	scaled-rect: scaled(-1,250,262,160,true);
}

.dashboard-nocdb-shield
{
    scaled-rect: scaled(nan,nan,24,24,true);
}

.dashboard-nocdb-label
{
    scaled-font: scaled(16);
    color: "@input-placeholder";
}

.dashboard-nocdb-title-button
{
    scaled-rect: scaled(nan,nan,40,40,true);
    color: "@input-field";
}

.dashboard-nocdb-title-button-back
{
    scaled-rect: scaled(36,56,40,40,true);
}

.dashboard-nocdb-title-button-orders
{
    scaled-rect: scaled(356,56,40,40,true);
}

.dashboard-speed-container
{
    scaled-rect: scaled(-1,471,357,99,true);
}

.dashboard-speed-main
{
    color: "@text";
    scaled-font: scaled(28);    
    font-weight: Font.Bold;
}

.dashboard-speed-sub
{
    color: "@input-placeholder";
    scaled-font: scaled(12);    
}

.dashboard-server-container
{
    scaled-rect: scaled(-1,596,356,96,true);
}

.dashboard-server-main
{
    color: "@text";
    scaled-font: scaled(18);    
    font-weight: Font.Bold;
}

.dashboard-server-sub
{
    color: "#A4A3C0";
    scaled-font: scaled(15);    
}

/****************************************************
 * Bug report
 ***************************************************/

/*.bugrep-contact-input
{
    scaled-rect: scaled(32,150,370,80,false,16);
}

.bugrep-contact-input-content
{
    scaled-rect: scaled(nan,nan,316,32,false,16);
}
*/

.bugrep-input
{
    scaled-rect: scaled(19,215,390,200,false,16);
}

.bugrep-input-bg
{
    scaled-rect: scaled(36,232,356,160,false,16);
    radius: 8;
    color: "@input-field";
}

.bugrep-input-content
{
    scaled-rect: scaled(nan,nan,316,120,false,16);
}

.bugrep-input-contact
{
/*
    scaled-rect: scaled(32,150,364,80,false,16);
*/
    scaled-rect: scaled(36,152,356,56,false,16);
    radius: 8;
    color: "@input-field";
}

.bugrep-input-contact-content
{
    scaled-rect: scaled(nan,nan,332,44,false,16);
}

.bugrep-letter-counter
{
    scaled-rect: scaled(283,410,100,19,false,16);
}

.bugrep-input-email
{
    scaled-rect: scaled(nan,380,316,48,false);
}

.bugrep-attach-btn
{
    scaled-rect: scaled(-1,464,390,24,false,16);
    color: "#DA0B82";
}

.bugrep-send-btn
{
    scaled-rect: scaled(-1,526,374,80,true,16);
}

.bugrep-cancel-btn
{
    scaled-rect: scaled(-1,726,374,80,true,16);
}

.bugrep-share-btn
{
    scaled-rect: scaled(27,592,374,80,true,16);
}

.bugrep-sending
{
/*
    scaled-rect: scaled(164,120,100,20,false,16);
    color: "#A4A3C0";
*/
    scaled-rect: scaled(-1,507,-1,24,false,16);
    color: "#A4A3C0";
}

.bugrep-animation
{
/*
    scaled-rect: scaled(134,194,160,160,true);
*/
    scaled-rect: scaled(170,395,88,88,true);
}

.bugrep-status
{
    scaled-rect: scaled(112,215,200,104,false,18);
    color: "@text";
}

.bugrep-bg
{
    qproperty-scaledPixmap: "@bugrep-bg";
}

.bugrep-bg-75
{
    qproperty-scaledPixmap: "@bugrep-bg-75";
}

.bugrep-input-textarea
{
    color: "@label";
    scaled-font: scaled(16);    
}

.bugrep-input-textarea-contact
{
    color: "@text";
}

.bugrep-input-placeholder
{
    color: "@light-grey";
    scaled-font: scaled(16);    
}

.bugrep-agreement-frame
{
    color: "@background";
    radius: 25;
    scaled-rect: scaled(nan,nan,-1,860,false);
}

.bugrep-agreement-pos
{
    scaled-rect: scaled(nan,98,nan,nan,false);
}

.bugrep-agreement-title
{
    color: "@text";
    font-weight: Font.Bold;
    scaled-rect: scaled(-1,16,-1,24,false,20);
}

.bugrep-agreement-title-close-btn
{
    scaled-rect: scaled(382,18,28,28,true,16);
    active: "@btn-close-hover";
    inactive: "@btn-close";
}

.bugrep-agreement-size
{
    scaled-rect: scaled(nan,68,354,636,false,15);
}

.bugrep-agreement-text
{
    color: "@text";
    scaled-rect: scaled(nan,nan,354,680,false,15);
}

.bugrep-agreement-text-pos
{
    scaled-rect: scaled(nan,68,nan,nan,false);
}

.bugrep-agreement-line-pos
{
    scaled-rect: scaled(nan,704,nan,nan,false);
}

.bugrep-agreement-button
{
    scaled-rect: scaled(nan,726,374,80,false,16);
}

/****************************************************
 * Purchase
 ***************************************************/

.purchase-btn-resizer
{
    scaled-rect: scaled(nan,nan,390,130,true);
    color: "@text";
}

.purchase-btn-spacing
{
    scaled-rect: scaled(nan,nan,20,20,true);
}

.purchase-listview
{
    scaled-rect: scaled(nan,140,nan,nan,false);
}

.purchase-btn-label-main
{
    scaled-font: scaled(18);    
    color: "@text";
}

.purchase-btn-label-sub
{
    scaled-font: scaled(15);    
    color: "#A4A3C0";
}

.purchase-btn-label-left
{
    scaled-font: scaled(30);    
    color: "@text";
    font-weight: Font.Bold;
}

/****************************************************
 * Choose Server
 ***************************************************/

/*,chooseserver-btn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}*/

.chooseserver-spinner-bg
{
    scaled-rect: scaled(nan,nan,244,244,true);
    color: "@background";
    radius: 16;
}

.chooseserver-loading-frame
{
    scaled-rect: scaled(nan,nan,358,32,false);
    color: "@choose-server-unknown";
    shine: "@choose-server-shine";
}

.chooseserver-update-btn
{
    active: "@ic-update";
    inactive: "@ic-update";
}

.chooseserver-last-update-label
{
    color: "@input-placeholder";
    scaled-font: scaled(12);
}

/****************************************************
 * Choose Language
 ***************************************************/

/*,chooselanguage-btn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}*/

/****************************************************
 * Choose Theme
 ***************************************************/

/*,choosetheme-btn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}*/

/****************************************************
 * Bug Report History
 ***************************************************/

.brh-btn-resizer
{
    scaled-rect: scaled(nan,nan,363,64,false);
}

.brh-icn-resizer
{
    scaled-rect: scaled(nan,nan,30,30,true);
}

.brh-btn-label-main
{
    color: "@text";
    scaled-font: scaled(16);    
}

.brh-btn-label-sub
{
    color: "@light-grey";
    horizontalAlign: Text.AlignLeft;
    scaled-font: scaled(12);
}

/****************************************************
 * Purchase History
 ***************************************************/

.ph-content
{
    scaled-rect: scaled(nan,nan,392,nan,false);
}

.ph-btn-resizer
{
    scaled-rect: scaled(nan,nan,363,64,false);
}

.ph-icn-resizer
{

    scaled-rect: scaled(nan,nan,56,56,true);
/*
    scaled-rect: scaled(nan,nan,30,30,true);
*/
}

.ph-icn-cpy-resizer
{
    scaled-rect: scaled(nan,nan,34,34,true);
/*
    scaled-rect: scaled(nan,nan,30,30,true);
*/
}

.ph-notice-resizer
{
    scaled-rect: scaled(nan,nan,353,75,true);
}

.ph-notice-spacer
{
    scaled-rect: scaled(nan,nan,363,34,true);
}

.ph-btn-label-main
{
    color: "@text";
    scaled-font: scaled(16);    
}

.ph-label-empty-history
{
    color: "@text";
    scaled-rect: scaled(-1,-1,363,96,true,26);
}

.ph-label-notice
{
    color: "@input-placeholder";
    scaled-font: scaled(16);    
}

/****************************************************
 * Document Viewer
 ***************************************************/

.dv-content
{
    scaled-rect: scaled(-1,144,363,nan,false,14);
}

.dv-text
{
    color: "@text";
    scaled-font: scaled(14);
}

/****************************************************
 * FAQ
 ***************************************************/

.faq-content
{
    scaled-rect: scaled(-1,144,363,nan,false,14);
}

.faq-item
{
    scaled-rect: scaled(nan,nan,nan,68,false);
}

.faq-item-spacer
{
    scaled-rect: scaled(nan,nan,nan,26,false);
}

.faq-item-label
{
    scaled-font: scaled(16);
    font-weight: Font.Bold;
}

.faq-item-text
{
    scaled-font: scaled(16);
    color: "@label";
}

.faq-plus-btn
{
    scaled-rect: scaled(nan,nan,32,32,true);
    qproperty-inactive: "@btn-plus";
    qproperty-active: "@btn-plus";
}

.faq-close-btn
{
    scaled-rect: scaled(nan,nan,32,32,true);
    qproperty-inactive: "@btn-minus";
    qproperty-active: "@btn-minus";
}

/****************************************************
* Ticker
***************************************************/

.ticker-close-button
{
    scaled-rect: scaled(nan,nan,24,24,true);
    qproperty-inactive: "@btn-ticker-close";
    qproperty-active: "@btn-ticker-close-hover";
}

.ticker
{
    scaled-rect: scaled(-1,nan,-1,36,false);
}

.ticker-lable-rect
{
    scaled-rect: scaled(nan,nan,-1,36,false);
}

.ticker-label
{
    scaled-rect: scaled(nan,nan,nan,36,false,14);
    color: "#FFFFFF";
}

.ticker-label-background
{
    scaled-rect: scaled(nan,nan,-1,36,false);
    color: "#A4A3C0";
}

.ticker-close-rect
{
    scaled-rect: scaled(nan,nan,36,36,true);
}

/****************************************************
 * Update
 ***************************************************/

.update-notification-rect
{
    scaled-rect: scaled(-1,nan,356,78,false);
    color: "@update-background";
}

.update-notification-label
{
    scaled-rect: scaled(nan,13,nan,nan,false,18);
    color: "@text";
}

.update-notification-button
{
    scaled-rect: scaled(nan,45,nan,nan,false,18);
    color: "@brand";
}

.update-notification-close-button
{
    scaled-rect: scaled(nan,10,24,24,true);
    qproperty-inactive: "@btn-update-notification-close";
    qproperty-active: "@btn-update-notification-close-hover";
}

.update-notification-pos-ticker-on
{
    scaled-rect: scaled(nan,38,nan,nan,false);
}

.update-notification-pos-ticker-off
{
    scaled-rect: scaled(nan,15,nan,nan,false);
}

/****************************************************
 * Choose Country
 ***************************************************/

.ch-country-filter-border
{
/*
    border-width: 1;
    border-color: "@light-grey";
    radius: 5;
*/
    color: "@input-field";
    radius: 5;
    scaled-rect: scaled(-1,nan,363,48,false);
}

.ch-country-filter-text
{
    color: "@text";
    scaled-font: scaled(14);
}

.ch-country-filter-clear
{
    qproperty-inactive: "@btn-update-notification-close";
    qproperty-active: "@btn-update-notification-close-hover";
}

.ch-country-listview
{
    scaled-rect: scaled(-1,204,392,602,false);
}

/****************************************************
 * Search orders
 ***************************************************/

.searchorders-btn-unit-container
{
    scaled-rect: scaled(-1,132,-1,64,true);
}

.searchorders-btn-maxunit-container
{
    scaled-rect: scaled(-1,216,-1,64,true);
}

.searchorders-btn-minunit-container
{
    scaled-rect: scaled(-1,300,-1,64,true);
}

.searchorders-btn-maxprice-container
{
    scaled-rect: scaled(-1,384,-1,64,true);
}

.searchorders-btn-minprice-container
{
    scaled-rect: scaled(-1,468,-1,64,true);
}

.searchorders-btn-confirm
{
    scaled-rect: scaled(-1,737,374,80,true,12);
}

.searchorders-btn-item
{
    scaled-rect: scaled(nan,nan,nan,108,false);
}

.searchorders-btn-main
{
    scaled-font: scaled(20);
    color: "@text";
    font-weight: Font.Normal;
}

.searchorders-btn-sub
{
    scaled-font: scaled(12);
    color: "#A4A3C0";
    font-weight: Font.Normal;
}

/****************************************************
 * Price
 ***************************************************/

.priceCount-total
{
    scaled-rect: scaled(-1,274,-1,19,false,18);
}

.priceCount-amount
{
    border-width: 1;
    border-color: "@light-grey";
    radius: 5;
    scaled-rect: scaled(-1,177,363,80,false);
}

.priceCount-text
{
    color: "@text";
    scaled-font: scaled(20);
}

.priceCount-btn-confirm
{
    scaled-rect: scaled(-1,340,374,80,true,12);
}

/****************************************************
 * Update
 ***************************************************/

.progress-circle-arc
{
    scaled-rect: scaled(-1,278,200,200,true,12);
    color: "@text";
}

.progress-circle-separator-container
{
    scaled-rect: scaled(-1,134,-1,4,true);
}

.progress-circle-btn-confirm
{
    scaled-rect: scaled(-1,737,374,80,true,16);
}

.progress-circle-info
{
    scaled-rect: scaled(nan,nan,128,64,true);
}

.progress-circle-percent
{
    scaled-font: scaled(40);
    color: "@text";
    font-weight: Font.Bold;
}

.progress-circle-mbytes
{
    scaled-font: scaled(12);
    color: "@light-grey";
}

.progress-circle-spacing
{
    scaled-rect: scaled(nan,nan,nan,8,false);
}

.progress-message
{
    scaled-rect: scaled(-1,500,354,nan,false,19);
    color: "@text";
    horizontal-align: Text.AlignHCenter;
}


/****************************************************
 * Routing Exceptions
 ***************************************************/

.rouexc-tab-separator
{
    scaled-rect: scaled(nan,780,-1,1,false);
}

.rouexc-tab-postion
{
    scaled-rect: scaled(nan,797,nan,nan,false);
}

.rouexc-tab-spacing
{
    scaled-rect: scaled(nan,nan,16,nan,false);
}

.rouexc-tab-idle
{
    scaled-rect: scaled(nan,nan,170,64,true);
    color: "@update-background";
    radius: 13;
}

.rouexc-tab-selected
{
    color: "@text";
}

.rouexc-tab-idle-label
{
    scaled-font: scaled(18);
    color: "@text";
}

.rouexc-tab-selected-label
{
    color: "@background";
}

.rouexc-tab-content
{
    scaled-rect: scaled(-1,132,392,648,false);
}

.rouexc-tab-content-app-mode-switch
{
    scaled-rect: scaled(nan,nan,356,48,false);
}

.rouexc-tab-content-app-mode-switch-container
{
    scaled-rect: scaled(nan,nan,-1,72,false);
}

.rouexc-content-item
{
    scaled-rect: scaled(nan,nan,nan,65,false);
}

.rouexc-content-item-icon
{
    scaled-rect: scaled(nan,nan,32,32,true);
}

.rouexc-content-item-main
{
    color: "@text";
}

.rouexc-content-item-sub
{
    color: "@label";
}

.rouexc-content-app-btn-close
{
    scaled-rect: scaled(nan,nan,32,32,true);
    qproperty-scaledPixmap: "@rouexc-close";
}

.rouexc-popup-content-apps
{
    scaled-rect: scaled(nan,nan,356,660,false);
    radius: 8;
}

.rouexc-popup-content-routes
{
    scaled-rect: scaled(nan,nan,356,337,true);
    radius: 8;
}

.rouexc-popup-app-item-label-pos
{
    scaled-rect: scaled(56,nan,230,nan,false,16);
}

.rouexc-popup-app-checkbox
{
    scaled-rect: scaled(nan,nan,60,60,true);
    qproperty-scaledPixmap: "@checkbox-off";
}

.rouexc-popup-app-checkbox-checked
{
    qproperty-scaledPixmap: "@checkbox-on";
}

.rouexc-btn-add
{
    scaled-rect: scaled(360,64,32,32,true);
    qproperty-inactive: "@btn-plus";
    qproperty-active: "@btn-plus";
}

.rouexc-title-label
{
    scaled-font: scaled(20);
    color: "@text";
    font-weight: Font.Bold;
}

.rouexc-title-separator
{
    scaled-rect: scaled(nan,nan,-1,1,false);
}

.rouexc-title-container
{
    scaled-rect: scaled(24,nan,nan,64,false);
}

.rouexc-content-item-btn-close
{
    scaled-rect: scaled(nan,nan,40,40,true);
    qproperty-inactive: "@btn-minus";
    qproperty-active: "@btn-minus";
}

.rouexc-popup-bottom-separator
{
    scaled-rect: scaled(nan,nan,-1,1,false);
}

.rouexc-popup-btn
{
    scaled-rect: scaled(nan,nan,147,48,true);
    color: "@light-grey";
    radius: 13;
}

.rouexc-popup-btn-label
{
    scaled-font: scaled(18);
    color: "#1f1f1f";
}

.rouexc-popup-btn-second
{
    scaled-rect: scaled(nan,nan,147,48,true);
    color: "@accent";
    radius: 13;
}

.rouexc-popup-btn-label-second
{
    scaled-font: scaled(18);
    color: "#ffffff";
}

.rouexc-popup-bottom-size
{
    scaled-rect: scaled(nan,nan,nan,72,false);
}

.rouexc-popup-apps-content
{
    scaled-rect: scaled(nan,141,324,nan,false);
}

.rouexc-route-input-field
{
    scaled-rect: scaled(nan,nan,308,56,true,16);
    color: "@input-field";
    radius: 8;
}

.rouexc-route-input-field-size
{
    scaled-rect: scaled(nan,nan,308,48,true);
}

.rouexc-route-address
{
    scaled-rect: scaled(nan,89,nan,nan,false,16);
}

.rouexc-route-description
{
    scaled-rect: scaled(nan,160,nan,nan,false,16);
}

.rouexc-route-input-field-font
{
    scaled-font: scaled(16);
}

.rouexc-route-input-field-placeholder
{
    color: "@label";
}

.rouexc-route-input-margin
{
    scaled-rect: scaled(4,nan,nan,nan,false);
}

.rouexc-spinner
{
    scaled-rect: scaled(nan,nan,160,160,true);
}

.rouexc-spinner-bg
{
    scaled-rect: scaled(nan,nan,244,244,true);
    color: "@background";
    radius: 16;
}

.rouexc-spinner-arc-container
{
    scaled-rect: scaled(nan,nan,244,200,true);
}

.rouexc-spinner-arc
{
    scaled-rect: scaled(nan,nan,136,136,true);
    qproperty-outer: "@light-grey";
    qproperty-inner: "@brand";
}

.rouexc-spinner-label
{
    scaled-rect: scaled(nan,180,244,24,false,16);
    color: "@input-placeholder";
}

.rouexc-spinner-percentage
{
    scaled-font: scaled(24);
    font-weight: Font.Bold;
}

.rouexc-popup-app-search
{
    scaled-rect: scaled(nan,81,324,48,false);
    color: "@input-field";
    radius: 8;
}

.rouexc-popup-app-search-input
{
    scaled-font: scaled(16);
    color: "@input-placeholder";
}



/****************************************************
 * Node Order List
 ***************************************************/

.nodeorlist-listview
{
    scaled-rect: scaled(-1,132,392,715,false);
}

.nodeorlist-item-label
{
    scaled-rect: scaled(14,nan,340,nan,false,14);
}

.nodeorlist-item-label-top
{
    scaled-font: scaled(16);
    color: "@text";
    font-weight: Font.Medium;
}

.nodeorlist-item-label-bottom
{
    scaled-font: scaled(12);
    color: "@light-grey";
}

.nodeorlist-label-size-12
{
    scaled-font: scaled(12);
}

.nodeorlist-label-size-14
{
    scaled-font: scaled(14);
}

.nodeorlist-label-size-16
{
    scaled-font: scaled(16);
}

.nodeorlist-item-link
{
    scaled-rect: scaled(nan,nan,24,24,true);
}

.nodeorlist-overview-frame
{
    scaled-rect: scaled(nan,nan,-1,926,false);
}

.nodeorlist-overview-container
{
    scaled-rect: scaled(-1,56,356,646,false);
    color: "@input-field";
    radius: 12;
}

.nodeorlist-overview-item-left-size
{
    scaled-rect: scaled(nan,nan,108,nan,false,16);
}

.nodeorlist-overview-item-left
{
    color: "@input-placeholder";
}

.nodeorlist-overview-item-right
{
    color: "@text";
}

.nodeorlist-overview-price
{
    scaled-font: scaled(20);
    font-weight: Font.Bold;
    color: "@text";
}

.nodeorlist-overview-clear-btn
{
    scaled-rect: scaled(-1,702,374,80,true,16);
}

.nodeorlist-overview-refresh-btn
{
    scaled-rect: scaled(-1,730,356,60,true,16);
    color: "@text";
    fill: "@input-field";
}

.nodeorlist-overview-confirm-btn
{
    scaled-rect: scaled(-1,802,356,60,true,16);
    color: "#ffffff";
    fill: "@brand";
}

.nodeorlist-overview-btn-sizer
{
    scaled-rect: scaled(nan,nan,374,60,true,16);
}

.nodeorlist-edit
{
    scaled-rect: scaled(-1,176,356,60,false,20);
    radius: 12;
    borderColor: "@separator-color";
    borderWidth: 1;
    color: "@input-field";
}

.nodeorlist-tabs
{
    scaled-rect: scaled(-1,706,356,64,false);
}

.nodeorlist-tabs-spacing
{
    scaled-rect: scaled(nan,nan,16,nan,false);
}

.nodeorlist-tab-btn
{
    color: "#f7f7f7";
    radius: 13;
}

.nodeorlist-tab-btn-size
{
    scaled-rect: scaled(nan,nan,170,64,true);
}

.nodeorlist-tab-btn-selected
{
    color: "#1f1f1f";
}

.nodeorlist-tab-btn-label
{
    scaled-font: scaled(18);
    color: "#1f1f1f";
}

.nodeorlist-tab-btn-label-second
{
    scaled-font: scaled(18);
    color: "#ffffff";
}

.nodeorlist-name-value
{
    scaled-font: scaled(16);
}

.nodeorlist-spinner-bg
{
    scaled-rect: scaled(nan,nan,244,244,true);
    color: "@background";
    radius: 16;
}

.nodeorlist-spinner-arc
{
    scaled-rect: scaled(nan,nan,136,136,true);
    qproperty-color: "@brand";
}

.nodeorderlist-edit-btn-close
{
    scaled-rect: scaled(nan,nan,32,32,true);
    qproperty-scaledPixmap: "@rouexc-close";
}

.nodeorderlist-agreement-title
{
    color: "@text";
    font-weight: Font.Bold;
    scaled-rect: scaled(-1,16,-1,24,false,20);
}



/****************************************************
 * Transaction history
 ***************************************************/

.trhistory-item
{
    scaled-rect: scaled(nan,nan,392,65,false);
}

.trhistory-item-left-top
{
    color: "@text";
    scaled-font: scaled(14);
}

.trhistory-item-left-bottom
{
    color: "@input-placeholder";
    scaled-font: scaled(14);
}

.trhistory-item-right
{
    color: "@text";
    scaled-font: scaled(14);
}



/****************************************************
 * Notifications history
 ***************************************************/

.notification-item-frame
{
    scaled-rect: scaled(nan,nan,nan,98,false);
}

.notification-item-frame-spacings
{
    scaled-rect: scaled(18,6,nan,nan,false);
}

.notification-item-timestamp-title
{
    color: "@text";
    font-weight: Font.Bold;
    scaled-font: scaled(20);
}

.notification-item-time
{
    color: "@input-placeholder";
    scaled-font: scaled(12);
}

.notification-item-title
{
    color: "@text";
    font-weight: Font.Bold;
    scaled-font: scaled(16);
}

.notification-item-description
{
    scaled-rect: scaled(nan,nan,nan,nan,false,16);
    color: "@label";
}



/****************************************************
 * Notification
 ***************************************************/

.notification-frame
{
    scaled-rect: scaled(nan,nan,400,118,false);
}

.notification-content
{
    scaled-rect: scaled(nan,nan,356,78,false);
    color: "@background";
    radius: 12;
}

.notification-text
{
    color: "@text";
    scaled-font: scaled(14);
}

.notification-header
{
    scaled-rect: scaled(nan,nan,144,32,false,16);
    color: "@background";
    font-weight: Font.Bold;
    border-color: "@input-field";
    radius: 12;
}

.notification-shadow
{
    color: "@label";
}

.notification-position
{
    scaled-rect: scaled(nan,24,nan,nan,false);
}

.notification-close-btn-area
{
    scaled-rect: scaled(nan,nan,72,72,true);
    qproperty-image: "@btn-update-notification-close";
    qproperty-idle-color: "@input-field";
    qproperty-hovered-color: "@separator-color";
}
