.darkblue
{
	color: #04004E;
}

.red
{
	color: #DA0B82;
}

.gray
{
	color: #A4A3C0;
}

.uppercase
{
	text-transform: uppercase;
}

.normal
{
font-weight: normal;
font-style: normal;
font-size: normal;
}

.normalbold
{
font-weight: normal;
font-style: normal;
font-size: bold;
}

.bold
{
font-weight: bold;
font-style: bold;
font-size: bold;
}

.font12
{
	font: 12px/15px;
}

.font16
{
	font: 16px/19px;
}

.font20
{
	font: 20px/24px;
}

.font24
{
	font: 24px/29px;
}

.font30
{
	font: 30px/36px;
}

.margin28
{
	margin: 28px;
}

.margin-right28
{
	margin-right: 28px;
}
