/****************************************************
 * Themes
 ***************************************************/

.@light
{
    text: "#1F0E08";
    background: "#F7F8FA";
    label: "#5C5B74";
    light-grey: "#A4A3C0";
    error: "#F53172";
    brand: "#EC6A41";
    accent: "#EC6A41";
    upload: "#8CEC41";
    grid: "#211F46";
    separator-color: "#E6E6E6";
    switch-bg-on:               "qrc:/light/switch/bg_on.png";
    switch-bg-off:              "qrc:/light/switch/bg_off.png";
    switch-toggle-on:           "qrc:/light/switch/toggle_on.png";
    switch-toggle-off:          "qrc:/light/switch/toggle_off.png";
    button-frame:               "qrc:/light/btn_server_bg.png";
    checkbox-on:                "qrc:/light/check_btn_on.png";
    checkbox-off:               "qrc:/light/check_btn_off.png";
    radio-on:                   "qrc:/light/radio_btn_on.png";
    radio-off:                  "qrc:/light/radio_btn_off.png";
    separator-left:             "qrc:/light/separator_left.png";
    separator-mid:              "qrc:/light/separator_mid.png";
    separator-right:            "qrc:/light/separator_right.png";
    push-button-active:         "qrc:/light/btn_bg_hover_active.png";
    push-button-inactive:       "qrc:/light/btn_bg.png";
    footer-settings-active:     "qrc:/light/btn_settings_active.png";
    footer-settings-inactive:   "qrc:/light/btn_settings.png";
    footer-dashboard-active:    "qrc:/light/btn_connection_active.png";
    footer-dashboard-inactive:  "qrc:/light/btn_connection.png";
    footer-statistics-active:   "qrc:/light/btn_account_active.png";
    footer-statistics-inactive: "qrc:/light/btn_account.png";
    bugrep-bg:                  "qrc:/light/report_bg_border.png";
    bugrep-bg-75:               "qrc:/light/report_bg_border_75.png";
    login-logo:                 "qrc:/light/login-logo.png";
    splash-logo:                "qrc:/light/logo.png";
    login-mode-btn-cert-unchecked:      "qrc:/light/auth/auth-cert.png";
    login-mode-btn-cert-checked:        "qrc:/light/auth/auth-cert-pressed.png";
    login-mode-btn-loginpass-unchecked: "qrc:/light/auth/auth-loginpass.png";
    login-mode-btn-loginpass-checked:   "qrc:/light/auth/auth-loginpass-pressed.png";
    login-mode-btn-serial-unchecked:    "qrc:/light/auth/auth-serial.png";
    login-mode-btn-serial-checked:      "qrc:/light/auth/auth-serial-pressed.png";
    btn-settings:               "qrc:/light/ic_settings.png";
    btn-settings-hover:         "qrc:/light/ic_settings_hover.png";
    btn-accept:                 "qrc:/light/ic_accept.png";
    btn-accept-hover:           "qrc:/light/ic_accept_hover.png";
    btn-edit:                   "qrc:/light/ic_edit.png";
    btn-edit-hover:             "qrc:/light/ic_edit_hover.png";
    btn-close:                  "qrc:/light/ic_close.png";
    btn-close-hover:            "qrc:/light/ic_close_hover.png";
}

.@dark
{
    text: "#FFFFFF";
    background: "#2f2e42";
    label: "#A4A3C0";
    light-grey: "#A4A3C0";
    error: "#F5FF00";
    brand: "#EC6A41";
    accent: "#EC6A41";
    upload: "#8CEC41";
    grid: "#211F46";
    separator-color: "#3F3F3F";
    switch-bg-on:               "qrc:/dark/switch/bg_on.png";
    switch-bg-off:              "qrc:/dark/switch/bg_off.png";
    switch-toggle-on:           "qrc:/dark/switch/toggle_on.png";
    switch-toggle-off:          "qrc:/dark/switch/toggle_off.png";
    button-frame:               "qrc:/dark/btn_server_bg.png";
    checkbox-on:                "qrc:/dark/check_btn_on.png";
    checkbox-off:               "qrc:/dark/check_btn_off.png";
    radio-on:                   "qrc:/dark/radio_btn_on.png";
    radio-off:                  "qrc:/dark/radio_btn_off.png";
    separator-left:             "qrc:/dark/separator_left.png";
    separator-mid:              "qrc:/dark/separator_mid.png";
    separator-right:            "qrc:/dark/separator_right.png";
    push-button-active:         "qrc:/dark/btn_bg_hover_active.png";
    push-button-inactive:       "qrc:/dark/btn_bg.png";
    footer-settings-active:     "qrc:/dark/btn_settings_active.png";
    footer-settings-inactive:   "qrc:/dark/btn_settings.png";
    footer-dashboard-active:    "qrc:/dark/btn_connection_active.png";
    footer-dashboard-inactive:  "qrc:/dark/btn_connection.png";
    footer-statistics-active:   "qrc:/dark/btn_account_active.png";
    footer-statistics-inactive: "qrc:/dark/btn_account.png";
    bugrep-bg:                  "qrc:/dark/report_bg_border.png";
    bugrep-bg-75:               "qrc:/dark/report_bg_border_75.png";
    login-logo:                 "qrc:/dark/login-logo.png";
    splash-logo:                "qrc:/dark/logo.png";
    login-mode-btn-cert-unchecked:      "qrc:/light/auth/auth-cert.png";
    login-mode-btn-cert-checked:        "qrc:/light/auth/auth-cert-pressed.png";
    login-mode-btn-loginpass-unchecked: "qrc:/light/auth/auth-loginpass.png";
    login-mode-btn-loginpass-checked:   "qrc:/light/auth/auth-loginpass-pressed.png";
    login-mode-btn-serial-unchecked:    "qrc:/light/auth/auth-serial.png";
    login-mode-btn-serial-checked:      "qrc:/light/auth/auth-serial-pressed.png";
    btn-settings:               "qrc:/dark/ic_settings.png";
    btn-settings-hover:         "qrc:/dark/ic_settings_hover.png";
    btn-accept:                 "qrc:/dark/ic_accept.png";
    btn-accept-hover:           "qrc:/dark/ic_accept_hover.png";
    btn-edit:                   "qrc:/dark/ic_edit.png";
    btn-edit-hover:             "qrc:/dark/ic_edit_hover.png";
    btn-close:                  "qrc:/dark/ic_close.png";
    btn-close-hover:            "qrc:/dark/ic_close_hover.png";
}

/****************************************************
 * Font
 ***************************************************/

.font-brand
{
    qproperty-fontFamiliy: "Exo2";
}

/****************************************************
 * Colors
 ***************************************************/

.c-label
{
    color: "@text";
}

.c-grey
{
    color: "@light-grey";
}

.c-brand
{
    color: "@brand";
}

.c-background
{
    color: "@background";
}

.c-error
{
    color: "@error";
}

/****************************************************
 * Widgets
 ***************************************************/

.switch-bg-off
{
    qproperty-scaledPixmap: "@switch-bg-off";
}

.switch-bg-on
{
    qproperty-scaledPixmap: "@switch-bg-on";
}

.switch-toggle-off
{
    qproperty-scaledPixmap: "@switch-toggle-off";
}

.switch-toggle-on
{
    qproperty-scaledPixmap: "@switch-toggle-on";
}



.btn-frame
{
    qproperty-scaledPixmap: "@button-frame";
}



.checkbox-on
{
    qproperty-scaledPixmap: "@checkbox-on";
}

.checkbox-off
{
    qproperty-scaledPixmap: "@checkbox-off";
}



.radio-on
{
    qproperty-scaledPixmap: "@radio-on";
}

.radio-off
{
    qproperty-scaledPixmap: "@radio-off";
}

.radio-label
{
    color: "@text";
    scaled-font: scaled(16);    
    font-weight: Font.Normal;
}



.line-edit-icon
{
    scaled-rect: scaled(nan,nan,20,20,true);
}



.form-title-close-btn
{
    scaled-rect: scaled(0,0,28,28,true);
    inactive: "@btn-close";
    active: "@btn-close-hover";
}

.form-title-label
{
    scaled-rect: scaled(39,0,282,28,false,24);
    color: "@text";
    font-weight: Font.Bold;
}



.sep-rect {
    scaled-rect: scaled(nan,nan,8,4,false);
}

.sep-left
{
    qproperty-scaledPixmap: "@separator-left";
}

.sep-mid
{
    qproperty-scaledPixmap: "@separator-mid";
}

.sep-right
{
    qproperty-scaledPixmap: "@separator-right";
}



.push-button
{
    active: "@push-button-active";
    inactive: "@push-button-inactive";
}



.radiobtn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}

.radiobtn-spacer
{
    scaled-rect: scaled(nan,nan,392,20,false);
}



.inputfield-separator
{
    scaled-rect: scaled(nan,nan,nan,nan,false);
}

.inputfield-input
{
    scaled-rect: scaled(nan,nan,nan,40,false,16);
}

.inputfield-placeholder-in
{
    scaled-rect: scaled(nan,nan,nan,40,false,16);
}

.inputfield-placeholder-out
{
    scaled-rect: scaled(nan,nan,nan,24,false,12);
}


.menu-item-size
{
    scaled-rect: scaled(nan,nan,nan,nan,false,34);
}


.combobox-separator
{
    scaled-rect: scaled(nan,nan,nan,nan,false);
}

.combobox-arrow
{
    scaled-rect: scaled(nan,nan,20,20,true);
}

.combobox-arrow-up
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/arrow-up.png");
}

.combobox-arrow-down
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/arrow-down.png");
}

.combobox-placeholder-in
{
    scaled-rect: scaled(nan,nan,nan,40,false,16);
}

.combobox-placeholder-out
{
    scaled-rect: scaled(nan,nan,nan,24,false,12);
}

.combobox-text
{
    scaled-rect: scaled(nan,nan,nan,40,false,16);
}

.combobox-border-color
{
    qproperty-borderColor: "@text";
}

.combobox-item
{
    scaled-rect: scaled(nan,nan,nan,36,false,16);
    qproperty-backgroundColor: "@background";
    qproperty-hoverBackgroundColor: "@brand";
}



.null-size
{
    scaled-rect: scaled(nan,nan,0,0,false);
}

.null-pos
{
    scaled-rect: scaled(0,0,nan,nan,false);
}

/****************************************************
 * Icons
 ***************************************************/

.ic_renew
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_renew.png");
}

.ic_key
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_key.png");
}

.ic_key-item
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_key-item.png");
}

.ic_language
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_language.png");
}

.ic_certificate
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_certificate.png");
}

.ic_cdb-manager
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_cdb-manager.png");
}

.ic_server-manager
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_server-manager.png");
}

.ic_send-report
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_send-report.png");
}

.ic_bot
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_bot.png");
}

.ic_close
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_close.png");
}

.ic_copy
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_copy.png");
}

.ic_copy_pressed
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_copy_pressed.png");
}

.ic_trash
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_trash.png");
}

.ic_information_bug-report
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_information_bug-report.png");
}

.ic_key-history
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_key-history.png");
}

.ic_terms_policy
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_terms_policy.png");
}

.ic_terms_policy
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_terms_policy.png");
}

.ic_version
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_version.png");
}

.ic_theme
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_theme.png");
}

.ic_spinner
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/Spinner.gif");
}

.ic_location
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_location.png");
}

.ic_country_filter
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/ic_filter.png");
}

.ic_online
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/icon_online.png");
}

.ic_offline
{
    qproperty-scaledPixmap: url("qrc:/dapqml-forms-asset/icon_offline.png");
}

.ic_conn-0
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-0.png");
}

.ic_conn-1
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-1.png");
}

.ic_conn-2
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-2.png");
}

.ic_conn-3
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-3.png");
}

.ic_conn-4
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-4.png");
}

.ic_conn-5
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/conn-icon-5.png");
}

.ic_cdb-index-icon
{
    qproperty-scaledPixmap: url("qrc:/nonthemed/cdb-index-icon.png");
}

/****************************************************
 * Main window
 ***************************************************/

.content-frame
{
    scaled-rect: scaled(0,0,-1,754,false);
}

.content-mid
{
    scaled-rect: scaled(-1,nan,363,nan,false);
}

.content-background
{
    color: "@background";
}

/****************************************************
 * Misc
 ***************************************************/

.dialog-title
{
    scaled-rect: scaled(34,62,360,28,false);
    color: "@text";
}

/****************************************************
 * Popup Dialog
 ***************************************************/

.popup-dialog
{
    scaled-rect: scaled(nan,nan,280,186,false);
    color: "@background";
}

.popup-dalog-title
{
    scaled-rect: scaled(57,20,170,24,false,20);
    color: "@text";
    clip: false;
}

.popup-dalog-text
{
    scaled-rect: scaled(nan,57,268,50,false,16);
    color: "@label";
    clip: false;
}

.popup-dalog-left-button
{
    scaled-rect: scaled(11,nan,86,36,false);
    color: "@background";
}

.popup-dalog-left-label
{
    scaled-font: scaled(14);
    color: "@text";
}

.popup-dalog-right-button
{
    scaled-rect: scaled(183,nan,86,36,false);
    color: "@background";
}

.popup-dalog-right-label
{
    scaled-font: scaled(14);
    color: "@brand";
}

.popup-dalog-middle-button
{
    scaled-rect: scaled(nan,nan,86,36,false);
    color: "@background";
}

.popup-dalog-middle-label
{
    scaled-font: scaled(14);
    color: "@brand";
}

/****************************************************
 * Footer
 ***************************************************/

.footer-frame
{
    scaled-rect: scaled(nan,nan,-1,201,false);
}

.footer-btn-settings
{
    scaled-rect: scaled(19,0,130,130,true);
    active: "@footer-settings-active";
    inactive: "@footer-settings-inactive";
}

.footer-btn-dashboard
{
    scaled-rect: scaled(149,0,130,130,true);
    active: "@footer-dashboard-active";
    inactive: "@footer-dashboard-inactive";
}

.footer-btn-statistics
{
    scaled-rect: scaled(279,0,130,130,true);
    active: "@footer-statistics-active";
    inactive: "@footer-statistics-inactive";
}

/****************************************************
 * Splashscreen
 ***************************************************/

.splash-logo
{
    scaled-rect: scaled(nan,220,276,76,true);
    qproperty-scaledPixmap: "@splash-logo";
}

.splash-status
{
    scaled-rect: scaled(-1,435,-1,64,false,18);
}

.splash-version
{
    scaled-rect: scaled(-1,nan,-1,96,false,12);
}

.splash-gradient-top
{
    color: "#D8CF3B";
}

.splash-gradient-bottom
{
    color: "#ED6641";
}

.splash-hyperlink
{
    scaled-rect: scaled(-1,791,-1,64,false,18);
}

/****************************************************
 * Login
 ***************************************************/

.login-logo-container
{
    scaled-rect: scaled(-1,120,-1,89,true);
}

.login-logo
{
    scaled-rect: scaled(nan,nan,260,89,true);
    qproperty-scaledPixmap: "@login-logo";
}

.login-error-label
{
    scaled-rect: scaled(51,72,327,57,false,13);
    color: "@error";
}

.login-type-container
{
    scaled-rect: scaled(nan,533,nan,130,false);
}

.login-separator-container
{
    scaled-rect: scaled(-1,43,-1,4,true);
}

.login-separator
{
    scaled-rect: scaled(nan,nan,nan,4,false);
}

.login-btn-server-container
{
    scaled-rect: scaled(-1,43,-1,108,true);
}

.login-btn-server
{
    scaled-rect: scaled(nan,nan,nan,108,false);
}

.login-btn-cert-container3
{
    scaled-rect: scaled(-1,271,-1,108,true);
}

.login-btn-cert-container2
{
    scaled-rect: scaled(-1,157,-1,108,true);
}

.login-btn-cert
{
    scaled-rect: scaled(nan,nan,nan,108,false);
}

.login-typename-label
{
    scaled-rect: scaled(-1,nan,-1,24,false,20);
    font-weight: Font.Bold;
}

/* SPACE CALC */

.login-space-for3rows
{
    scaled-rect: scaled(nan,127,nan,nan,false);
}

.login-space-for2rows
{
    scaled-rect: scaled(nan,213,nan,nan,false);
}

/* SERIAL MODE */

.login-btn-serial-container
{
    scaled-rect: scaled(-1,157,-1,108,true);
}

.login-btn-serial
{
    scaled-rect: scaled(nan,nan,nan,108,false);
}

/* PASSWORD MODE */

.login-btn-email-container
{
    scaled-rect: scaled(-1,157,-1,108,true);
}

.login-btn-email
{
    scaled-rect: scaled(nan,nan,nan,108,false);
}

.login-btn-password-container
{
    scaled-rect: scaled(-1,271,-1,108,true);
}

.login-btn-password
{
    scaled-rect: scaled(nan,nan,nan,108,false);
}

/* --------------- */

.login-btn-main
{
    scaled-font: scaled(20);
    color: "@text";
    font-weight: Font.Bold;
}

.login-btn-sub
{
    scaled-font: scaled(12);
    color: "#A4A3C0";
    font-weight: Font.Normal;
}

.login-connect
{
    scaled-rect: scaled(nan,695,374,80,true,12);
}

.login-obtain-container
{
    scaled-rect: scaled(-1,791,-1,19,false);
}

.login-obtain-font
{
    scaled-font: scaled(16);    
}

.login-obtain-label
{
    scaled-rect: scaled(nan,nan,160,nan,false);
}

.login-obtain-link
{
    scaled-rect: scaled(nan,nan,160,nan,false);
}

.login-serialkey-input
{
    border-width: 1;
    border-color: "@light-grey";
    color: "@background";
    radius: 5;
    opacity: 0.2;
}

.login-mode-btn-cert
{
    scaled-rect: scaled(19,0,130,130,true);
    active: "@login-mode-btn-cert-checked";
    inactive: "@login-mode-btn-cert-unchecked";
}

.login-mode-btn-serial
{
    scaled-rect: scaled(149,0,130,130,true);
    active: "@login-mode-btn-serial-checked";
    inactive: "@login-mode-btn-serial-unchecked";
}

.login-mode-btn-loginpass
{
    scaled-rect: scaled(279,0,130,130,true);
    active: "@login-mode-btn-loginpass-checked";
    inactive: "@login-mode-btn-loginpass-unchecked";
}

.login-separator-color
{
    color: "@separator-color";
    scaled-rect: scaled(nan,nan,nan,1,false);
}

/****************************************************
 * Settings
 ***************************************************/

.sett-spacer
{
    scaled-rect: scaled(nan,nan,nan,20,false);
}

.sett-resizer1
{
    scaled-rect: scaled(nan,nan,nan,64,false,34);
}

.sett-resizer2
{
    scaled-rect: scaled(nan,nan,nan,116,false);
}

.sett-item
{
    scaled-rect: scaled(nan,nan,nan,nan,false,34);
}

.sett-btn-lbl-main
{
    color: "@text";
    scaled-font: scaled(16);    
    font-weight: Font.Normal;
}

.sett-btn-lbl-sub
{
    color: "@light-grey";
    scaled-font: scaled(12);    
    font-weight: Font.Normal;
}

.sett-btn-lbl-sub-red
{
    color: "@brand";
    scaled-font: scaled(16);    
    font-weight: Font.Bold;
}

.sett-btn-lbl-sub-link
{
    color: "@light-grey";
    scaled-font: scaled(16);
    font-weight: Font.Normal;
}

.sett-title-lbl-main
{
    color: "@text";
    horizontal-align: Text.AlignHCenter;
    scaled-rect: scaled(nan,nan,nan,nan,false,24);
    font-weight: Font.Bold;
}

/****************************************************
 * Statistics
 ***************************************************/

.stat-title
{
    color: "@text";
    font-size: 24;
    font-weight: Font.Bold;
}

.stat-item-main
{
    color: "@text";
    font-weight: Font.Normal;
}

.stat-item-sub
{
    color: "#A4A3C0";
    font-weight: Font.Normal;
}

.stat-graph
{
    scaled-rect: scaled(-1,146,360,147,false);
}

.stat-speed
{
    scaled-rect: scaled(nan,307,154,99,false);
}

.stat-bytes
{
    scaled-rect: scaled(nan,406,154,99,false);
}

.stat-packets
{
    scaled-rect: scaled(nan,505,154,99,false);
}

.stat-misc
{
    scaled-rect: scaled(nan,604,154,99,false);
}

.stat-scaler-ind
{
    scaled-rect: scaled(nan,nan,154,50,false,24);
}

.stat-scaler-sub
{
    scaled-rect: scaled(nan,nan,154,50,false,12);
}

/****************************************************
 * Dashboard
 ***************************************************/

.dashboard-title
{
    color: "@brand";
    scaled-rect: scaled(-1,62,-1,28,false,24);
    font-weight: Font.Bold;
}

.dashboard-status-container
{
    scaled-rect: scaled(nan,107,-1,22,true);
}

.dashboard-status-label-scaler
{
    scaled-rect: scaled(nan,nan,107,22,true,18);
}

.dashboard-status-label
{
    color: "@text";
}

.dashboard-status-icon
{
    scaled-rect: scaled(nan,nan,5,5,true);
}

.dashboard-error-label
{
    scaled-rect: scaled(51,140,327,57,false,14);
    color: "#F53172";
}

.dashboard-switch
{
    scaled-rect: scaled(-1,250,238,150,true);
}

.dashboard-speed-container
{
    scaled-rect: scaled(-1,471,357,99,true);
}

.dashboard-speed-main
{
    color: "@text";
    scaled-font: scaled(26);    
    font-weight: Font.Bold;
}

.dashboard-speed-sub
{
    color: "#A4A3C0";
    scaled-font: scaled(12);    
}

.dashboard-server-container
{
    scaled-rect: scaled(-1,558,390,130,true);
}

.dashboard-server-main
{
    color: "@text";
    scaled-font: scaled(18);    
    font-weight: Font.Bold;
}

.dashboard-server-sub
{
    color: "#A4A3C0";
    scaled-font: scaled(15);    
}

/****************************************************
 * Bug report
 ***************************************************/

.bugrep-input
{
    scaled-rect: scaled(19,133,390,200,false,16);
}

.bugrep-input-content
{
    scaled-rect: scaled(nan,nan,316,120,false,16);
}

.bugrep-letter-counter
{
    scaled-rect: scaled(291,333,100,19,false,16);
}

.bugrep-attach-btn
{
    scaled-rect: scaled(19,392,390,20,false,16);
    color: "#DA0B82";
}

.bugrep-send-btn
{
    scaled-rect: scaled(27,441,374,80,true,14);
}

.bugrep-sending
{
    scaled-rect: scaled(164,120,100,20,false,16);
    color: "#A4A3C0";
}

.bugrep-animation
{
    scaled-rect: scaled(134,194,160,160,true);
}

.bugrep-status
{
    scaled-rect: scaled(112,215,200,104,false,18);
    color: "@text";
}

.bugrep-bg
{
    qproperty-scaledPixmap: "@bugrep-bg";
}

.bugrep-input-textarea
{
    color: "@text";
    scaled-font: scaled(16);    
}

.bugrep-input-placeholder
{
    color: "@label";
    scaled-font: scaled(16);    
}

/****************************************************
 * Purchase
 ***************************************************/

.purchase-btn-resizer
{
    scaled-rect: scaled(nan,nan,390,130,true);
    color: "@text";
}

.purchase-btn-spacing
{
    scaled-rect: scaled(nan,nan,20,20,true);
}

.purchase-listview
{
    scaled-rect: scaled(nan,140,nan,nan,false);
}

.purchase-btn-label-main
{
    scaled-font: scaled(18);    
    color: "@text";
}

.purchase-btn-label-sub
{
    scaled-font: scaled(15);    
    color: "#A4A3C0";
}

.purchase-btn-label-left
{
    scaled-font: scaled(30);    
    color: "@text";
    font-weight: Font.Bold;
}

/****************************************************
 * Choose Server
 ***************************************************/

/*,chooseserver-btn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}*/

/****************************************************
 * Choose Language
 ***************************************************/

/*,chooselanguage-btn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}*/

/****************************************************
 * Choose Theme
 ***************************************************/

/*,choosetheme-btn-resizer
{
    scaled-rect: scaled(nan,nan,392,64,false);
}*/

/****************************************************
 * Bug Report History
 ***************************************************/

.brh-btn-resizer
{
    scaled-rect: scaled(nan,nan,363,64,false);
}

.brh-icn-resizer
{
    scaled-rect: scaled(nan,nan,30,30,true);
}

.brh-btn-label-main
{
    color: "@text";
    scaled-font: scaled(16);    
}

.brh-btn-label-sub
{
    color: "@light-grey";
    horizontalAlign: Text.AlignLeft;
    scaled-font: scaled(12);
}

/****************************************************
 * Purchase History
 ***************************************************/

.ph-btn-resizer
{
    scaled-rect: scaled(nan,nan,363,64,false);
}

.ph-icn-resizer
{
    scaled-rect: scaled(nan,nan,32,32,true);
}

.ph-icn-cpy-resizer
{
    scaled-rect: scaled(nan,nan,32,32,true);
}

.ph-notice-resizer
{
    scaled-rect: scaled(nan,nan,353,75,true);
}

.ph-notice-spacer
{
    scaled-rect: scaled(nan,nan,363,34,true);
}

.ph-btn-label-main
{
    color: "@text";
    scaled-font: scaled(16);    
}

.ph-label-empty-history
{
    color: "@text";
    scaled-rect: scaled(-1,-1,363,96,true,26);
}

.ph-label-notice
{
    color: "@label";
    scaled-font: scaled(16);    
}

/****************************************************
 * Document Viewer
 ***************************************************/

.dv-content
{
    scaled-rect: scaled(-1,144,363,nan,false,14);
}

.dv-text
{
    color: "@text";
    scaled-font: scaled(14);
}

/****************************************************
 * Reset password
 ***************************************************/

.passreset-description
{
    scaled-rect: scaled(-1,132,363,160,false,14);
}

.passreset-result-description
{
    scaled-rect: scaled(-1,168,363,64,false,18);
}

.passreset-separator
{
    scaled-rect: scaled(-1,362,363,4,false);
}

.passreset-email-input
{
    scaled-rect: scaled(-1,320,363,40,false,16);
}

.passreset-placeholder-in
{
    scaled-rect: scaled(-1,320,363,24,false,16);
}

.passreset-placeholder-out
{
    scaled-rect: scaled(-1,308,363,24,false,12);
}

.passreset-send-btn
{
    scaled-rect: scaled(-1,626,374,80,true,14);
}

/****************************************************
 * Manage servers
 ***************************************************/

.manser-resizer-item
{
    scaled-rect: scaled(nan,nan,363,64,false,34);
    color: "@background";
}

.manser-resizer-field
{
    scaled-rect: scaled(nan,nan,nan,48,false);
    color: "@text";
}

.manser-item
{
    scaled-rect: scaled(nan,nan,nan,nan,false,34);
}

.manser-btn-lbl-main
{
    color: "@text";
    scaled-font: scaled(16);    
    font-weight: Font.Normal;
}

.manser-settings-btn
{
    scaled-rect: scaled(nan,nan,28,28,true);
    active: "@btn-settings-hover";
    inactive: "@btn-settings";
}

.manser-accept-btn
{
    scaled-rect: scaled(nan,nan,28,28,true);
    active: "@btn-accept-hover";
    inactive: "@btn-accept";
}

.manser-cancel-btn
{
    scaled-rect: scaled(nan,nan,28,28,true);
    active: "@btn-close-hover";
    inactive: "@btn-close";
}

.manser-remove-btn
{
    scaled-rect: scaled(19,nan,390,20,false,16);
}

.mancdb-error-label
{
    scaled-rect: scaled(-1,96,-1,20,false,16);
}

/****************************************************
 * Manage CDB
 ***************************************************/

.mancdb-resizer-item
{
    scaled-rect: scaled(nan,nan,363,64,false,34);
    color: "@background";
}

.mancdb-resizer-field
{
    scaled-rect: scaled(nan,nan,nan,48,false);
    color: "@text";
}

.mancdb-item
{
    scaled-rect: scaled(nan,nan,nan,nan,false,34);
}

.mancdb-btn-lbl-main
{
    color: "@text";
    scaled-font: scaled(16);    
    font-weight: Font.Normal;
}

.mancdb-settings-btn
{
    scaled-rect: scaled(nan,nan,28,28,true);
    active: "@btn-settings-hover";
    inactive: "@btn-settings";
}

.mancdb-accept-btn
{
    scaled-rect: scaled(nan,nan,28,28,true);
    active: "@btn-accept-hover";
    inactive: "@btn-accept";
}

.mancdb-cancel-btn
{
    scaled-rect: scaled(nan,nan,28,28,true);
    active: "@btn-close-hover";
    inactive: "@btn-close";
}

/****************************************************
 * Certificate
 ***************************************************/

.crypto-resizer-item
{
    scaled-rect: scaled(nan,nan,363,64,false,34);
}

.crypto-resizer-field
{
    scaled-rect: scaled(nan,nan,nan,48,false);
}

.crypto-item
{
    scaled-rect: scaled(nan,nan,nan,nan,false,34);
}

.crypto-btn-lbl-main
{
    color: "@text";
    scaled-font: scaled(16);    
    font-weight: Font.Normal;
}

.crypto-btn-lbl-sub
{
    color: "@light-grey";
    horizontalAlign: Text.AlignRight;
    scaled-font: scaled(12);
}

.crypto-settings-btn
{
    scaled-rect: scaled(nan,nan,28,28,true);
    active: "@btn-settings-hover";
    inactive: "@btn-settings";
}

.crypto-accept-btn
{
    scaled-rect: scaled(nan,nan,28,28,true);
    active: "@btn-accept-hover";
    inactive: "@btn-accept";
}

.crypto-cancel-btn
{
    scaled-rect: scaled(nan,nan,28,28,true);
    active: "@btn-close-hover";
    inactive: "@btn-close";
}

/****************************************************
 * Choose Country
 ***************************************************/

.ch-country-filter-border
{
    border-width: 1;
    border-color: "@light-grey";
    radius: 5;
    scaled-rect: scaled(-1,nan,363,48,false);
}

.ch-country-filter-text
{
    color: "@text";
    scaled-font: scaled(16);
}

.ch-country-filter-clear
{
    qproperty-inactive: "@btn-close";
    qproperty-active: "@btn-close-hover";
}
